div#desbloquear-password,
div#modal-init-login
{
	display: none; 
	width: 503px; 
	padding: 35px; 
	font-size: 16px; 
	background: #fff; 
	font-family: 'Open Sans', sans-serif;
	top: 3%;
 	border: solid 2px #548f39;
 	z-index: 9999999;
 	overflow: visible;
}

h3.desbloquear-password-title
{
	font-size: 21px;
  	font-weight: normal;
  	margin: 0 0 20px;
  	border-bottom: 1px solid #ccc;
  	padding: 0 0 5px 0;
  	font-weight: 600;
  	letter-spacing: -1px;
}	

#radio-security_question     input[type = "radio"],
#radio-desbloqueo-por-correo input[type = "radio"]
{
	float: left;
	margin: 2px 5px 0 0;	
}

div#email-pregunta-seguridad span
{
	margin: 10px 0; 
	display: block; 
	line-height: 20px;
}

div#security-question,
div#radio-desbloqueo-por-correo,
div#email-desbloqueo-por-correo
{
	margin-top: 10px;
}

div#email-desbloqueo-por-correo input[type = "text"],
div#email-pregunta-seguridad    input[type = "text"],
div#security-question           input[type = "password"]
{
	display: block;
  	width: 96.2%;
  	margin: 0 0 10px;
  	font-size: 15px;
  	font-weight: 300;
  	line-height: 19px;
}

div#boton-listener-init-login 
{
  border: 1px solid gray;
  overflow: hidden;
  width: 124px;
  margin: 0 auto;
  margin-top: 20px;
}

div#boton-init_respuesta_seguridad a,
div#security-question a,
div#boton-listener-init-login a,
div#boton-confirmacion-desbloqueo-por-correo a,
div#boton-confirmacion-security-question a,
div#boton-max-question-attempts a
{
	padding: 8px 0;
	background: #548f39;
	text-transform: uppercase;
	color: #fff;
	font-size: 13px;
	width: 124px;
	float: right;
	margin: 0;
	text-align: center;
}

div#confirmacion-security-question,
div#confirmacion-desbloqueo-por-correo,
div#max-question-attempts-ENABLED
{
	display: none;
}

div#confirmacion-security-question h4,
div#confirmacion-desbloqueo-por-correo h4,
div#max-question-attempts-ENABLED h4
{
	margin-bottom: 10px;
	font-weight: bold;
}

div#display_desbloqueo_MSG
{
	text-align: center;
	width: 500px;
}


.sesion_expirada a 
{
  background: inherit;
  display: inline;
  margin: 0 ;
  text-transform: lowercase;
  text-decoration: underline;
  color: #568e3e;
  font-size: 14px;
  padding: 0;
  font-weight: normal;
}


