@font-face {
	font-family: "Flaticon";
	src: url("flaticon2.eot");
	src: url("flaticon2.eot#iefix") format("embedded-opentype"),
	url("flaticon2.woff") format("woff"),
	url("flaticon2.ttf") format("truetype"),
	url("flaticon2.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;

}.flaticon-coins15:before {
	content: "\e000";
}
.flaticon-operations:before {
	content: "\e001";
}
.flaticon-percentage16:before {
	content: "\e002";
}
.flaticon-statistics13:before {
	content: "\e003";
}
