
/*estilos contraseña */

.requiredClass{
	border: solid 1px #FF0000 !important;
	background-color: rgba(252, 218, 218, 0.6);
}

.descVal{
	padding-left: 20px;
	/* background-image: url("../../resources/img/bullet-white.png"); */
	background-position: left;
	background-repeat: no-repeat;
	color: #000000;
}

.descValGreen{
	padding-left: 20px;
	background-image: url("../images/bullet.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size:15px;
	/* color: #5abf11; */
}
.descValOrange{
	padding-left: 20px;
	background-image: url("../images/error2.png");
	background-position: left;
	background-repeat: no-repeat;
	color: #ff0000;
	background-size:15px;
}



#passHelp {
	opacity: 1; 
	position: absolute; 
	display:none;
	border: 1px solid #CCCCCC; 
	width:330px;	
	height: auto;
	/* overflow: auto; */
	z-index:99999999999999999999999999999;
	
}
.arrow_leftHelp {
	display:none;
}
#message {
	
	padding: 20px 20px 20px 20px; 
	height:auto; 
	overflow: auto; 
	background-color: #FFFFFF; 
}

#message li {
	font-size:14px;
	color:#666;
	margin:0 0 7px;
}

.passHelp_info {
	display:none;
	
}

.crea_contrasena, .crea_contrasena2 {
	overflow:hidden;
	display:block;
	padding: 10px 0;
}

.crea_contrasena span, .crea_contrasena2 span{
	display:block;
	margin:0 0 10px;
	
}
.crea_contrasena small, .crea_contrasena2 small, #passHelp .close{
	
	color:#fff;
	padding:2px 8px;
	cursor:pointer;
	border-radius:20px;

}

 #passHelp .close {
 	display:none;
 }




.crea_contrasena span, .crea_contrasena2 span  {
	display:none;
	margin:0;
	font-weight:400;
	cursor:pointer;
}

.crea_contrasena span.no_cumple, .crea_contrasena2 span.no_cumple  {
	color: #FE1A00;
	background: #fff;
}
.crea_contrasena span.cumple, .crea_contrasena2 span.cumple  {
	color:#5CB811;
	background: #fff;
}
.crea_contrasena span.no_cumple small,  .crea_contrasena2 span.no_cumple small   {
	background: #FE1A00;
	
}
.crea_contrasena span.cumple small, 
.crea_contrasena2 span.cumple small  {
	background: #568e3e;
}

.crea_contraseña small:hover, .crea_contrasena2 small:hover{
	background:#cbd93b;
}

@media (max-width: 800px) {
 #passHelp .close {
 	display:block;
 
 	background: #568e3e;
 	width: 34px;
 	height: 27px;
 	text-align: center;
 	padding: 8px 0 0 0;
 	border-radius: 17px;
 	font-size: 19px;
 	font-weight: 600;
 	position: absolute;
 	z-index: 1;
 	right: 10px;
 	top: 10px;
}
#passHelp{
	width: 100% !important;
	left: 0!important;
	top: 0 !important;
	/* position: fixed; */
	height: 100%;
	max-height: 100%;
	background: #fff;
	position: fixed;
	display:none;
}

#passHelp.hide {
	display:none !important;
}


.crea_contrasena span, .crea_contrasena2 span{
	display: inline-block;
}


}
@media (max-width: 700px) {
.crea_contrasena span, .crea_contrasena2 span{
	float:right;
}
}
@media (max-width: 470px) {
.crea_contrasena span, .crea_contrasena2 span{
	clear:both;
	float:none;
	width:100%;
}


}



.leyendas {
	color:#666 !important;
	font-size:7px !important;
	font-family:Arial;
	width:100%;
	clear:both;
}


.ayuda_contrasena_mobile {
	display:none;
	width: 91%;
	clear: both;
	overflow: hidden;
	border: solid 1px #ccc;
	overflow: hidden !important;
	padding: 10px 4%;
	margin: 0 0 14px;
}
.ayuda_contrasena_mobile li {
	display:block;
	width:100%;
	clear: both;
	overflow: hidden;
	font-size: 14px;
}
.ayuda_contrasena_mobile li i{
	font-size:6px;
	line-height:5px;
	padding:0;
	vertical-align:middle;
	margin:0 10px 0 0;
	color:#777;


}

.ayuda_contrasena_mobile .item_b{
	color:red;
}

.ayuda_contrasena_mobile .item_b i{
	font-size:10px;
	color:red;
}
.ayuda_contrasena_mobile li i.fa-check {
	font-size:12px;
	color: #568e3e;
}

.formulario article .element_b{
	display:none;

}

.item_a.error {
	color:red;
}

  .ayuda_contrasena_mobile .item_b {
	color: red;
	display: none;
}
.formulario.tipo_1  article .ayuda_contrasena_mobile .item_b {
		display: none;
}

.formulario.tipo_1  article .combo_contrasena {
	position:relative;
	display:block;
	overflow:hidden;
	/* width: 64%; */
	margin: 0 0 14px;
}
.formulario.tipo_1  article  .combo_contrasena input {
	width: 95% !important;
	
	margin: 0;
}

.formulario.tipo_1  article  .combo_contrasena h5{
	position:absolute;
	width: 61px;
	height: 88%;
	display:block;
	right:0;
	top:0;
	background: #ccc;
	color:#fff;
	padding: 2px 5px 0;
	font-size: 15px;
	 
	margin: 0 0 10px;
	
	clear: both;
	float: left;
	font-weight: 600;

	margin: 0;
	line-height: 23px;
}
.formulario.tipo_1  article  .combo_contrasena h5.active{
	background:#cadc2d;
}



.contrasena_segura, .contrasena_novalida {
	display:none;
	background:#f1f1f1;
	padding: 13px 3%;
	border:solid 1px #ccc;
	/* width: 57%; */
	margin: 0 0 10px;
	clear: both;
}

.contrasena_segura span, .contrasena_novalida span{
	display:none;
	color:red;
	width: 100% !important;
	margin:10px 0 0;
	clear: both;
}

.contrasena_novalida{
	color:red;
}

.formulario.tipo_1  article  .combo_contrasena h5 i{
    font-size: 21px;
		
    vertical-align: middle;
    display: block;
    margin: 10% 0 0 0;
}
#passTitle3 {
	display:none;	
}
@media (max-width: 800px) {
	
.ayuda_contrasena_mobile {
	display:block;
}

.formulario.tipo_1  article .combo_contrasena {
	width:100%;	
}
.contrasena_segura, .contrasena_novalida  {
	width:93%;
}



.formulario.tipo_1  .ayuda_contrasena_mobile li {
	/* display:block; */
	width:100%;
	margin:0 0 5px ;
	color: #000;
}

}

.formulario.tipo_1 input[type="text"].text_code{
	display:none;
	
}

.formulario.tipo_1 input[type="text"].text_code2 {
	display:none;
	
}








































