@CHARSET "ISO-8859-1";



body{
	/* font: 13px/1.231 helvetica,arial,clean,sans-serif; */
	/*font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; */
	
	/*font-family: Arial, sans-serif,  "Lucida Grande", "Lucida Sans Unicode" !important;*/
	/*font-family: helvetica;*/
	letter-spacing: 0px;
	
	
	/*font-size: 13px;*/
	font: 13px/1.231 helvetica,arial,clean,sans-serif; 
	color: #333333;
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

.clBody{
	/* background-image: url("../../resources/img/fondo001.jpg");
	background-position: 100%;
	background-repeat: no-repeat; */
}

#general{
			width: 99%;
			height: auto;
			margin-top: 0px;
			margin-left: auto;
			margin-right: auto;
			
		}
#header{
	/*height: 180px;*/
	height: auto;
	width: 99%; 
	margin-bottom: 5px;
	margin-top: 0px;
	
}
#content{
		width: 99%;
		/*min-height: 400px;*/
		overflow: auto;
	}
#footer{
		height: auto;
		width: 97%; 
		margin-top: 5px;
	}
	
.InputTexCl{
	font-size: 1.09em;
	font-weight: normal;
	width: 180px;
}

#titulo{
	font-size: 2.09em;
	font-weight: bold;
	width: 180px;
	color: #439539;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
#dialog{
	background-color: #e6e6e6;
	position: absolute; 
	z-index: 2002; 
	top: 60px; 
	right: 10px; 
	display: none;
	border: solid 1px #b6b6b6;
	padding: 10px 10px 10px 10px;
	border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
}

#dialogSign{
	background-color: #e6e6e6;
	width: 250px;
	height: auto;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border: solid 1px #b6b6b6;
	padding: 10px 10px 10px 10px;
	border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
}

#loginTit{
	color: #333333;
}

#loginTit #tit{
	width: 90%;
	float: left;
	text-align: center;
}
#loginTit #cierre{
	float: right;
}
#dialog #loginCont{
	float: left;
	background-color: #E6E6E6;
}
#entar{
	padding: 5px 5px 5px 5px;
}

#entar:hover{
	color: #F6F6F6;
	background-color: #E6E6E6;
}
#quest_1, #quest_2{
	font-size: 0.8em;
}
#quest_1:hover {
	text-decoration: underline;
	cursor: pointer;
}
#quest_2:hover {
	text-decoration: underline;
	cursor: pointer;
}
#loginCierre #quest_1{
	width: 48%;
	float: left;
}
#loginCierre #quest_2{
	width: 48%;
	float: right;
	text-align: right;
}

.blindAction:hover{
	cursor: pointer;
}

.expectedPerformanceDiv{
	float:right;
	width:40%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	letter-spacing: 0px;
	font-size: 13px;
	color: #333333;
}

.fontFondo{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 120%;
}

.borderCell{
	border:0 !important;
	text-align: center !important;
	border-style: hidden !important;
}

span.AX{
	background:url(../img/portfolioManagementsprite.png) transparent -351px -71px no-repeat;
	margin-left:10%;
	margin-right:10%;
	padding-left: 9%;
	padding-right: 7%;
	font-weight:bold;
	padding-top: 6px;
}
span.BX{
	background:url(../img/portfolioManagementsprite.png) transparent -231px -71px no-repeat;
	margin-left:10%;
	margin-right:10%;
	padding-left: 9%;
	padding-right: 7%;
	font-weight:bold;
	padding-top: 6px;
}
span.CX{
	background:url(../img/portfolioManagementsprite.png) transparent -404px -71px no-repeat;
	margin-left:10%;
	margin-right:10%;
	padding-left: 9%;
	padding-right: 7%;
	font-weight:bold;
	padding-top: 6px;
}

span.formText{
	display:block;
	font-weight:bold;
	width:18px
	
}

.kuboScoreText{
	 margin-left: 30%;
	 margin-right: 20%;
}

.kuboScoreNumber{
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	color: color:rgb(0,0,0) !important;
}

#providing_invertion{
width:90%;
text-align:center;
}

.ui-widget .ui-icon-xls {
    background-image: url(../img/star.jpg);
}

.cpTable{
	width: 88%;
}

span.marginSpan{
	margin-left: 24%;
}
.styled-select select {
	   background: transparent;
	   width: 290px;
	   padding: 0px;
	   margin-top: 0px;
	   padding-top: 0px;
	   border: 0px;
	   height: 28px;
	   -webkit-appearance: none;
	   margin-bottom: 10px !important;
	   vertical-align: top !important;
	   position: absolute;
	   top: 0px;
	   border: solid 1px #000000;
	}
	
.styled-select {
	   width: 265px;
	   height: 14px;
	   overflow: hidden;
	   background: url(../img/selImg.png) no-repeat right #ffffff;
	   margin-top: 8px;
	   padding-top: 0px !important;
	   border: 1px solid #fff200;
	   padding-bottom: 12px !important;
	   vertical-align: top !important;
	   position: relative;
	   
	   margin-bottom: 6px;
	margin-top: 6px;
	   
	-webkit-box-shadow: 1px 1px 10px -3px #c2c2c2 !important;
  	-moz-box-shadow: 	1px 1px 10px -3px #c2c2c2 !important;
  	box-shadow: 		1px 1px 10px -3px #c2c2c2 !important;
	   
	}

.styled-select-Month select {
	   background: transparent;
	   width: 170px;
	   padding: 0px;
	   margin-top: 0px;
	   padding-top: 0px;
	   border: 0px;
	   height: 28px;
	    -webkit-appearance: none;
	    margin-bottom: 10px !important;
	    vertical-align: top !important;
	     position: absolute;
	   top: 0px;
	    border: solid 1px #000000;
	}
	
.styled-select-Month {
	   width: 140px;
	   height: 14px;
	   overflow: hidden;
	   background: url(../img/selImg.png) no-repeat right #ffffff;
	   margin-top: 0px;
	   padding-top: 0px !important;
	   border: 1px solid #fff200;
	   padding-bottom: 12px !important;
	   vertical-align: top !important;
	   position: relative;
	   
	   margin-bottom: 6px;
	margin-top: 6px;
	   
	-webkit-box-shadow: 1px 1px 10px -3px #c2c2c2 !important;
  	-moz-box-shadow: 	1px 1px 10px -3px #c2c2c2 !important;
  	box-shadow: 		1px 1px 10px -3px #c2c2c2 !important;
	   
	}
.styled-select-Day select {
	   background: transparent;
	   width: 170px;
	   padding: 0px;
	   margin-top: 0px;
	   padding-top: 0px;
	   border: 0px;
	   height: 28px;
	    -webkit-appearance: none;
	    margin-bottom: 10px !important;
	    vertical-align: top !important;
	     position: absolute;
	   top: 0px;
	    border: solid 1px #000000;
	}
	
.styled-select-Day {
	   width: 63px;
	   height: 14px;
	   overflow: hidden;
	   background: url(../img/selImg.png) no-repeat right #ffffff;
	   margin-top: 0px;
	   padding-top: 0px !important;
	   border: 1px solid #fff200;
	   padding-bottom: 12px !important;
	   vertical-align: top !important;
	   position: relative;
	   
	   margin-bottom: 6px;
	margin-top: 6px;
	   
	-webkit-box-shadow: 1px 1px 10px -3px #c2c2c2 !important;
  	-moz-box-shadow: 	1px 1px 10px -3px #c2c2c2 !important;
  	box-shadow: 		1px 1px 10px -3px #c2c2c2 !important;
	   
	}
.styled-select-Year select {
	   background: transparent;
	   width: 110px;
	   padding: 0px;
	   margin-top: 0px;
	   padding-top: 0px;
	   border: 0px;
	   height: 28px;
	    -webkit-appearance: none;
	    margin-bottom: 10px !important;
	    vertical-align: top !important;
	     position: absolute;
	   top: 0px;
	    border: solid 1px #000000;
	}
	
.styled-select-Year {
	   width: 80px;
	   height: 14px;
	   overflow: hidden;
	   background: url(../img/selImg.png) no-repeat right #ffffff;
	   margin-top: 0px;
	   padding-top: 0px !important;
	   border: 1px solid #fff200;
	   padding-bottom: 12px !important;
	   vertical-align: top !important;
	   position: relative;
	   
	   margin-bottom: 6px;
	margin-top: 6px;
	   
	-webkit-box-shadow: 1px 1px 10px -3px #c2c2c2 !important;
  	-moz-box-shadow: 	1px 1px 10px -3px #c2c2c2 !important;
  	box-shadow: 		1px 1px 10px -3px #c2c2c2 !important;
	   
	}
.styled-select-Address select {
	   background: transparent;
	   width: 330px;
	   padding: 0px;
	   margin-top: 0px;
	   padding-top: 0px;
	   border: 0px;
	   height: 28px;
	    -webkit-appearance: none;
	    margin-bottom: 10px !important;
	    vertical-align: top !important;
	     position: absolute;
	   top: 0px;
	    border: solid 1px #000000;
	}
	
.styled-select-Address {
	   width: 300px;
	   height: 14px;
	   overflow: hidden;
	   background: url(../img/selImg.png) no-repeat right #ffffff;
	   margin-top: 0px;
	   padding-top: 3px !important;
	   border: 1px solid #fff200;
	   padding-bottom: 12px !important;
	   vertical-align: top !important;
	   position: relative;
	   
	margin-bottom: 6px;
	margin-top: 6px;
	   
	-webkit-box-shadow: 1px 1px 10px -3px #c2c2c2 !important;
  	-moz-box-shadow: 	1px 1px 10px -3px #c2c2c2 !important;
  	box-shadow: 		1px 1px 10px -3px #c2c2c2 !important;
	   
	   
	}
	
	
	.contPR{
	
		min-height: 460px !important;
	
	}
	
	.cornerFill{	
			border-left: 70px solid transparent;
			border-top: 70px solid #439539;
			
			height: 0;
			width: 0;
			right: 0px;
			
		}
		.msgBorder{
			border: solid 8px #C1D82F;
		}
		
		.msgBack{
			color: #439539;
			width: auto; 
			height: auto; 
			overflow: auto; 
			padding: 50px 50px 50px 50px; 
			line-height: 25px;  
			margin-top: 0px; 
			margin-bottom:0px; 
			margin-left: auto; 
			margin-right: auto; 
			font-size: 1.5em; 
			font-weight: bold; 
			border: solid 0px #EFEFEF; 
			background-color: #ffffff;
		}
		.msgResaltar{
			font-size: 1.5em; 
			color: #C1D82F;
		}
	