@CHARSET "UTF-8";

@media screen and (max-width: 1284px) {	
	
	.wrapperInv{
	
		width: 100%;
	
	}
	/*
	.clsGarantíaInv{
		float: none;
		clear: both; 
		padding-left: 10px; 
		border-left: solid 0px #E6E6E6;
		border-top: solid 0px #E6E6E6;
		margin-left: auto;
		margin-right: auto;
		margin-top: 100px !important;
		width: 340px;
		padding-top: 10px;
	}
	*
	/* comentado gabriel
	.contentInv{
	
		float: none;
		clear: both; 
		position: relative;
		margin-left: auto;
		margin-right: auto;

		width: 99%;
	} */
	
	/*
	.clsDetailAccount{
		
		width: 750px;
		border: solid 0px #FF0000;
		margin-left: auto;
		margin-right: auto;
		
	}
	*/
	
	.clsContInvGar{
	
		margin-top: 2px;
		
	}
	
}

@media screen and (max-width: 1100px) {		

	.investFrm{
	
		position: 	absolute !important;
		top: 		 30px !important;
		left: 		570px !important;
	
	}
	
	.contentInv{
		/* width: 99% !important; */
	}
	
	#menuContainer{
		margin-left: 35px !important;
	}
	
	#bar_menu a{
		padding-top: 	15px !important;
		padding-bottom:  8px !important;
		padding-left:   8px !important;
		padding-right:	8px !important; 
		
	}
	
	#dvCntProfile{
		
		margin-left: 2px !important;
	}


	

} 

@media screen and (max-width: 1090px){
	
	.contFrm{
		width: auto !important;
	}
	/*
	.container_03{
		border: solid 0px #000000;
		overflow: auto !important;
		height: auto !important;
		width: 99% !important;
		margin-left: auto;
		margin-right: auto;
	}
	*/
	
	.wrapperInv{
		border: solid 0px #ff0000;
		margin-left: auto;
		margin-right: auto;
		overflow: auto;
	
		width: 100% !important;
}
	
	.myInvestmentsInv{
		border: solid 0px #000000;
	}
	
	.secondaryMenuInv{
		border: solid 0px #0000FF;
		width: 588px;
	}
	
	.resumenCls{
		/* margin-left: 150px; */
	}
	
	.pagosCls{
		/* margin-left: 300px; */
		/* margin-top: 15px; */
	}
}



@media screen and (max-width: 900px){
	
	.container{
		border: solid 0px #000000;
	}
	
	.contentInv{
		width: auto !important;
		border: solid 0px #FF0000;
	}
	
	.detailBoxesInv{
		border: solid 0px #00ff00;
		/* width: auto !important; */
	}
	
	.cornerFill{
		display: none;
	}
	
	.detailBoxInv{
		margin-left: 0px;
	}
	
	.resumenCls{
		margin-left: 0px !important;
	}
	
	.pagosCls{
		/* margin-left: 200px;
		margin-top: 15px; */
	}
	
	.clsContGraph1{
	
		width: 100%; 
		margin-left: auto; 
		margin-right: auto;
		
	}
}