@CHARSET "UTF-8";
	
		@media screen and (max-width: 2250px) {
			#contVideoAndSim{
				min-height: 850px;
			}
			#frase01{
				padding-top: 3px !important; 
			}
			
		}
		@media screen and (max-width: 1250px) {
			/*tablet Horizontal*/
			#content {
			    margin-left: 20px !important;
			    width: 80% !important;
			}
			#content #cont{
				margin-left: 73px;
			}
			#contVideoAndSim{
				width: 60% !important;
				margin-left: 0px !important;
			}
		}
	
		@media screen and (max-width: 1150px) {
			/*tablet Horizontal*/
				
			#content #cont{		
				height: 1px !important;
				margin-left: 0px !important;
				
			}
			.sim-back02{
				display: none;
			}

			.cont-sim-complete{
				width: 493px !important;
				left: 220px !important;
				top: 260px !important;
			}
			
			#contVideoAndFraseWMin{
				clear: both !important;
				margin-left: auto;
				margin-right: auto;
				border: solid 0px #00FF00 !important;
				float: none !important;
				display: none;
			}
			
			#contVideoAndSim{
				margin-left: 20px !important;
				min-height: 475px !important;
			}
			
			#contVideoAndFraseWMax{
				margin-left: 0px !important;
			}
			
			#contFrases{
				left: 170px !important;
			}
			
			
		
		}
		
		@media screen and (max-width: 1090px) {
			/*tablet Horizontal*/
			.cont-sim-complete{
				width: 493px !important;
				top: 196px !important;
				left: 296px;
			}
			
			#contVideoAndSim{
				margin-left: 20px !important;
				min-height: 495px !important;
			}
			
			#frase02{
				margin-top: 10px !important;
			}
			
			#shadowFrase2{
				top: 220px !important;
				left: 5px !important;
				
			}
			#shadowFrase1{
				top: 175px !important;
				left: 0px !important;
				
			}
			
			#content #cont{
				height: 0px !important;
				margin-left: 0px !important;
			}
			#general{
				margin-top: 5px !important;
				margin-left: 0px !important;
				
			}
			#contVideoAndFraseWMax{
				margin-left: 0px !important;
			}
		}
		
		@media screen and (max-width: 1005px) {
			/*tablet Horizontal*/
			
			#general{
			
				margin-top: 0px !important;
				
			}
			
			#shadowFrase1{
				top: 440px !important;
			}
			
			#shadowFrase2{
				top: 490px !important;
			}
			
			#contVideoAndSim{
				margin-top: 0px;
				margin-left: 10px !important;
			}
			
			#content{
				margin-left: 10px !important;
			}
			
			.cont-sim-complete{
				top: 214px !important;
				width: 493px !important;
				left: 226px !important;
			}
			#dvVideo{
				margin-top: 0px !important;
			}
			
				.sim-back02{
				display: none;
			}

			
			#contVideoAndFraseWMin{
				clear: both !important;
				margin-left: auto;
				margin-right: auto;
				border: solid 0px #00FF00 !important;
				float: none !important;
				
				display: none;
			}
			
		}
		
		
	@media screen and (max-width: 900px) {
		
		#general{
			
				margin-top: 275px !important;
				
			}
		
		#content {
			    margin-left: 20px !important;
			}
		
		#contFrases{
			left: 150px !important;
			width: 77% !important;
			margin-top: 95px !important;
			top: -19px !important;
			border: solid 0px #ff0000;
		}
		
		#frase01{ 
			font-size: 27pt !important;
			 width: 580px !important;
			 border: solid 0px #00ff00;
			}
		
		#frase02{
			font-size: 20pt;
			 width: 520px !important;
			 border: solid 0px #0000ff;
			}
			
		#shadowFrase1{
				width: 700px !important;
				left: -50px !important;
				top: 435px !important;
			}
		#shadowFrase2{
				width: 650px !important;
				top: 480px !important;
				left: -50px !important;
			}
			
		#contVideoAndSim{
				margin-top: 0px !important;
				min-height: 480px !important;
			}
		.cont-sim-complete{
			left: 208px !important;
			top: 449px !important;
		
		}
	}
		
	@media screen and (max-width: 740px) {
			
			#dvVideo{
				display: none !important;
			}
			
			body{
				background-color: #000000 !important;
			}
			
			#bg01, #bg02{
				display: none !important;
				visibility: hidden !important;
			}
			
			#content {
			    margin-left: 4px !important;
			}
			
			#cont{
				height: 1px !important;
			}
			
			#general{
				margin-top: 0px !important;
				margin-left: auto !important;
				margin-right: auto !important;
				width: 493px !important;
				border: solid 0px #ffff00;
				height: 570px !important;
				overflow: auto !important;
				position: relative !important;
				top: 0px;
			}
			#contFrases{
				width: 450px !important;
				border: solid 0px #FF00FF;
				height: auto !important;
				overflow: hidden !important;
				position: absolute !important;
				clear: both !important;
				float: none !important;
				top: -45px !important;
				left: 104px !important;
				padding-top: 0px !important;
				
			}
			#frase01{
				font-size: 10px !important;
				width: 99% !important;
				border: solid 0px #F0f0f0;
				padding-top: 5px !important;
				line-height: 40px !important;
			}
			#frase01 h1{
				font-size: 21pt !important;
			}
			
			#frase02{
				border: solid 0px #ffff00;
				font-size: 10pt !important;
				margin-top: 0px !important;
				line-height: 22px;
				width: 99% !important;
			}
			
			#frase02 h2{
				font-size: 16pt !important;
			}
			
			#contVideoAndFraseWMax{
			
				display: none;
			
			}
			
			.contVideoAndSim{
				width: 400px !important;
				border: solid 1px #FFFFFF;
				display: block !important;
				position: relative !important;
				top: 0px;
				left: 0px;
			}
			
			#cont-sim{
				position: absolute !important;
				top: 0px !important;
				left: 0px !important;
				height: auto;
				overflow: auto;
			}
			
			.cont-sim-complete{
				
				position: absolute !important;
				margin-left: auto;
				margin-right: auto;
				height: 550px !important;
				overflow: hidden;
				width: 485px !important;
				border: solid 0px #00ff00;
				top: 0px !important;
				left: 0px !important;
			}
			#dvCNBV{
				display: none;
			}
			
			.clsCntPxmLbl{
				width: 400px  !important;
				height: auto;
				overflow: hidden;
				padding: 8px !important;
			}
			
			.clsBtnInvPreReg{
				float: none !important;
				clear: both !important;
				float: right !important;
			}
			#contVideoAndSim{
				border: solid 0px #FF0000;
			}
	}
	
	
	@media screen and (max-width: 400px) {
			/* #contFrases{
				padding-top: 2px !important;
				width:  270px !important;
			}
			
			#frase01{
				width: 99% !important;
				font-size: 20pt !important;
				margin-left: auto;
				margin-right: auto;
				border: solid 0px #FF0000;
				padding-top: 4px;
			}
			
			#frase02{
				width: 99% !important;
				font-size: 16pt !important;
				margin-top: 10px !important;
				line-height: 20px;
				position: relative;
				margin-left: auto;
				margin-right: auto;
				border: solid 0px #FFF000;
			} */
			
			#contVideoAndSim{
				width: 310px !important;
				margin: 0px !important;
				min-height: 650px !important;
				margin-left: 0px !important;
				right: auto !important;
				left: auto !important;
				padding-top: 30px !important;
				padding-left: 4px !important;
			}
			
			#content #cont {
				    height:49px !important;
				    
				}
			
			.cont-sim-complete{
				/*position: relative !important;
				top: 20px !important;
				left: 20px !important;*/
				width: 300px !important;
				border: solid 0px #0000ff;
				padding: 3px !important;
				height: 655px !important;
					right: auto !important;
					position: absolute !important;
					top: 0px !important;
					left: 0px !important;
				
				
			}
			
			#shadowFrase2 , #shadowFrase1{
				display: none;
			}
			
			#cont-sim{
				padding: 3px !important;
				width: 310px !important;
			}
			
			#meta-sim{
				width: 300px !important;
				height: 380px !important;
			}
			
			#meta-sim #contFormSim{
				margin-top: 10px !important;
				
			}
			
			.contFormAllSim{
				margin-top: 0px !important;
				margin-bottom: 10px !important;
			}
			
			span#sim{
				font-size: 27px;
				margin-top: 0px !important;
				padding-top: 0px !important;
				margin-left: 5px !important;
			}
			
			.clsLblrwd{
				width: 280px !important;
				height: auto;
				overflow: auto;
				border: solid 0px #FF0000;
			}
			
			.meta-sim002 #titulosim{
				top: 0px !important;
			}
			
			#cont-form-sim{
				padding-top: 0px;
			}
			
			.meta-sim002{
				height: 290px !important;
				width: 300px !important;
				border: solid 0px #FF0000;
			}
			
			.meta-sim002 #titulosim, #meta-sim #titulosim{
				padding-top: 0px !important;
			}
			
			.quest_sim{
				font-size: 15pt !important;
			}
			
			#cnt-btn-chck{
				top: 340px !important;
				margin-right: 8px !important;
			}
				
				#general{
				
					overflow: hidden !important;
					width: 310px !important;
					margin-left: auto !important;
					margin-right: auto !important;
					border: solid 0px #FF0000;
					position: relative;
					margin-top: -20px !important;
					padding: 0px !important;
					height: 700px !important;
				}
				
				#contFrases{
					width: 223px !important; 
					height: 100px; 
					overflow:hidden; 
					position: absolute; 
					z-index: 4; 
					top: 50px !important;
					bottom: auto !important;
					left: 98px !important;
					right: auto !important;
					padding-top: 0px;
					border: solid 0px #FFFFFF !important;
					margin-top: 0px !important;
				}
				#frase01{
					padding-top: 2px !important;
					padding-bottom: 2px !important;
					position: relative !important;
					top: 0px !important;
					bottom: auto !important;
					width: 220px !important;
					height: 41px; 
					overflow: auto;
					border: solid 0px #00FF00;
					font-size: 19px !important;
					line-height: 21px !important;
					
				}
				#frase02{
					position: relative !important;
					top: 1px !important;
					bottom: auto !important;
					width: 222px !important;
					height: 50px; 
					border: solid 0px #0000FF;
					font-size: 16px !important;
					line-height: 20px !important;
					margin-top: 0px !important;
				}
				
				
				
				#questKubo{
					display: block;
					font-size: 2.1em !important;
					margin-top: 20px;
					margin-left: 8px;
					width: 308px;
				}
				
				#videoandfraseKubo{
					display: block;
				}
				.meta-sim002 #titulosim{
					margin-left: -4px !important;
				}
				.contFormAllSim{
					margin-left: 6px !important;
				}
				
				.clsLabelSim{
					width: 280px !important;
				}
				
				.clsPxmLbl2{
					height: auto;
					overflow: auto;
					width: 280px !important;
				}
				
				.clsBtnSim{
					float: none !important;
					clear: both !important;
					position: absolute !important;
					top: 100px !important;
					left: 65px !important;
					right: auto !important; 
				}
				
				.clsBtnRegSim{
					position: absolute !important;
					float: none !important;
					clear: both !important;
					left: 60px !important;
					top: 300px !important;
					right: auto !important;
				}
				
				.clsBtnInvPreReg{
					float: none !important;
					clear: both !important;
					position: absolute !important;
					top: 615px !important;
					left: auto !important;
					right: 75px !important;
				}
				
				.clsBtnInvConoce{
				position: absolute !important;
					top: 545px !important;
					left: auto !important;
					right: 70px !important;
				}
				
				.clsCntPxmLbl{
					width: 90%  !important;
					border: solid 0px #ff0000;
					height: auto;
					overflow: auto;
					padding-bottom: 4px !important;
					padding-left: 0px !important;
				}
				.clsImgInvSim{
					overflow: auto !important;
					height: auto !important;
					border: solid 0px #0000ff;
					width: 220px !important;
				}
				
			}
		