div#tablero-autenticacion
{
	width: 1085px;
	margin-left: 100px;
	border:0px solid black;
}

div#tablero-autenticacion h2
{
	margin: 23px 0 20px;
  	font-size: 2.1em;
  	color: #439539;
  	height: auto;
  	width: 575px;
  	font-weight: normal;
}

div#boton-buscar-prospecto
{
	background: #439539;
	font-size: 15px;
	font-weight: normal;
	padding-top: 5px;
	text-align: center;
	color: #fff;
	border: none;
	height: 25px; 
	margin: 0; 
	width: 130px; 
	margin-left: 25px; 
	float: left;
	cursor: pointer;
}

div.styled-select-Address
{
	height: 15px;
}

div.styled-select-Address select
{
	border: 0;
}

div.autenticar.btn_naranja
{
	width: 150px;
	float: left; 	
	margin: 0;
}

div.autenticacion-INPUT
{
	clear: both;
}

div.autenticacion-INPUT p
{
	padding: 5px;
}

p.autenticacion_MSG
{
	float: left;
  	border: 0px solid black;
  	height: 20px;
  	padding: 5px;
}

div.autenticacion_icon
{
  float: left;  
  width: 15px;
  height: 18px;
  margin-left: 10px;
  padding-top: 12px;  
  padding-left: 2px;
  border: 0px solid black;
}

div.autenticacion_icon span
{
	display: none	
}

div#desbloqueo-password-icon
{
	float: right;
}