@CHARSET "UTF-8";

/*
::-webkit-scrollbar
 {	
    width: 0px;
}
 
::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 0px;
}
 
::-webkit-scrollbar-thumb 
{
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
*/

.bg 
{
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
} 


li.creditos a:hover
{
	background-color: #0f75bd;
	color: #FFFFFF;
	text-decoration: none;
}

.textHelNeueBold
{
	display: none;
}

.menuSup li.creditos a
{
	background-color: #0f75bd;
	color: #FFFFFF;
	text-decoration: none;
}

.clsCatProd
{
	font-size: 1.15em;
	font-weight: bold;
}

.logo
{
	margin-top: 60px !important;
	margin-bottom: 15px !important;
}

body
{
	margin: 0px;
}

#header2
{
	display: none;
}

#opciones
{
	height: 65px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 300px;
	position: relative;
}

#frase
{
	width: 98%;
	margin-top: 0px;
	margin-left: 25px;
	margin-right: 5px;
	margin-bottom: 15px;
	background-color: #FaFaFa;
}

#indice2
{
	min-height: 150px;
	display: none;
}
		
div.contenido_general
{
	margin:0 auto;
	padding-right:15px;
	
	font: 13px/1.231 helvetica,arial,clean,sans-serif;	
	
	text-align: justify;	
	border:0px solid black;
}

.ui-widget-content a
{
	color: -webkit-link;
}
		
#callDesc a
{
	color: #ffffff;
	text-decoration: none;
}
		
#sobresalientes
{
	width: 275px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	float: left;
	min-height: 650px;
	border: solid 0px #FF0000;
}

#anuncio
{
	margin-top: 38px;
}

#sobresalientes_med
{
	display: none;
}
						
#conPageSim
{
	float: right;
	border: solid 0px #ff0000;
	height: auto;
	overflow: auto;
	width: 78% !important;
	top: -109px;
	border: solid 0px #000000;
}