@CHARSET "UTF-8";

.custumStlFileUpload.ui-fileupload.ui-widget
{
	border:0px solid black;
}


.custumStlFileUpload.ui-fileupload,.custumStlFileUploadPreview.ui-fileupload{
	font-size: 0.7em !important;	
}
.custumStlFileUpload .ui-fileupload .fileupload-buttonbar,.custumStlFileUploadPreview .ui-fileupload .fileupload-buttonbar{
	padding: 0 !important;
}

.ui-widget-header,
.custumStlFileUploadPreview{	
	background-color: #FFF !important ;
	background-image: none !important;
    border: none !important;
    color: #333333 !important;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.698);
    padding-left: 0 !important;
}
.custumStlFileUpload .fileupload-buttonbar .ui-button input,.custumStlFileUploadPreview .fileupload-buttonbar .ui-button input{
	height: 30px !important;
	right: 80px !important;
	top: -7px !important;
	width: 175px !important;
}

.fileupload-content{
	border-top-width: 0;
    padding: 0.2em 0.4em;
}
.ui-corner-bottom{
	-moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    display:none;
}
.ui-widget-content{
	background: none repeat scroll 0 0 #FFFFFF;
    border: none !important;
    color: #4F4F4F;
}
.custumStlFileUpload .fileupload-buttonbar .ui-button,
.custumStlFileUploadPreview .fileupload-buttonbar .ui-button,
.custumStlFileUploadPreview .start .ui-button,
.custumStlFileUploadPreview .cancel .ui-button{
    margin-right: 0.2em;
    vertical-align: middle;
    cursor: pointer !important;
    background-image: url("../../../resources/img/backButt.png") !important;
    background-repeat: repeat-x;
    border: 1px solid #FFF200 !important;
    box-shadow:2px 2px 10px -1px #626262 !important;
}

.custumStlFileUploadPreview .start .ui-button,.custumStlFileUploadPreview .cancel .ui-button{
	width: 60px !important;
	height: 30px !important;
	padding: 8px;
	font-weight: bold !important;
}
.custumStlFileUploadPreview .start .ui-button:before{
	content: "Subir"
}
.custumStlFileUploadPreview .cancel .ui-button:before{
	content: "Cancelar"
}
.custumStlFileUploadPreview .files td{
	padding-right: 5px !important;
}

.custumStlFileUploadPreview .files td.preview{
	padding-left: 0 !important;
}
.custumStlFileUpload .fileupload-buttonbar .ui-button:hover,
.custumStlFileUploadPreview .fileupload-buttonbar .ui-button:hover,
.custumStlFileUploadPreview .start .ui-button:hover,
.custumStlFileUploadPreview .cancel .ui-button:hover{
	background-image: url("../../../resources/img/backButtH.png") !important;
	background-repeat: repeat-x;
}

.custumStlFileUpload .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,.custumStlFileUploadPreview .ui-state-default{
	text-shadow: none !important;
}

.custumStlFileUpload .fileupload-content .ui-progressbar{
	height: 8px !important;
    width: 400px;
}
.custumStlFileUploadPreview .fileupload-content .ui-progressbar{
	height: 15px !important;
    width: 150px;
    border: 1px solid #333 !important;
}
.custumStlFileUpload .custumStlFileUpload .files,.custumStlFileUploadPreview .custumStlFileUpload .files{
    border-collapse: collapse;
    margin: 0 !important;
}

.custumStlFileUpload .ui-state-default .ui-icon,.custumStlFileUploadPreview .ui-state-default .ui-icon{
	background-image: none !important;	
}

.custumStlFileUpload .ui-button-text,.custumStlFileUploadPreview .ui-button-text{
	padding: 4px !important;
}
.custumStlFileUpload .ui-state-active,.custumStlFileUploadPreview .ui-state-active{
	color: inherit !important ;
}

.custumStlFileUpload td.preview,.custumStlFileUpload td.name,.custumStlFileUpload td.size,.custumStlFileUpload td.start,.custumStlFileUpload td.cancel,.custumStlFileUploadPreview td.name,.custumStlFileUploadPreview td.size{
	display: none !important;
}

.containerTitleUpload{
	width: 500px;
	margin-top: 20px;
}

.containerTitleUpload .corner,.containerTitleUpload .cornerDisabled{	
	border-left: 10px solid transparent;
	border-top: 10px solid #F0F3C3;
	float: left;
	top: 36px;
	position: relative;
	height: 0;
	width: 0;
	right: 7px;
	
}
.containerTitleUpload .numberAndTitle,.containerTitleUpload .numberAndTitleDisabled{
    background-color: #C1D82F;
    border: 3px solid #F0F3C3;
    left: 3px;
    position: relative;
    height: 40px;
}

.containerTitleUpload .number,.containerTitleUpload .numberDisabled{
    color: #FFFFFF;
    float: left;
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 10px;
    width: 40px;
}

.containerTitleUpload .title,.containerTitleUpload .titleDisabled{
   padding-top: 10px;
   float: left;
   font-size: 1.1em;
   font-weight: bold;
}

.cornerDisabled{
	border-top: 10px solid #B3B3B3 !important;	
}
.numberAndTitleDisabled{
	background-color: #F1F2F2 !important;
	border: 3px solid #F1F2F2 !important;
}
.numberDisabled{
	color: #B3B3B3 !important;
}
.titleDisabled{
	color: #B3B3B3 !important; 
}
