/*----------------------------------------
	FdC:        [24.Abril.2014]
	Folder:     css/secciones/estado_cuenta/
	Programmer: Damián Tapia Nava
---------------------------------------*/
@CHARSET "UTF-8";

div.contEdoCuentafieldset > table
{
	padding: 0px;  
	width: auto; 
	border:0px solid black;
}

div.numero_credito
{
	width: 100%; 
	margin-top: 8px;
	margin-left: 0px; 
	margin-right: auto; 
	padding: 5px; 
	padding-left: 0px; 
	font-size: 1.4em;
	border:0px solid black;
}

div.numero_credito > span
{
	color: #439539;
}

