@CHARSET "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

cl{
	background: 13px/1.231 helvetica,arial,clean,sans-serif; 
	color: #333333;
    line-height: 20px;
}

a{
	text-decoration: none;
	color: #439539;
	text-decoration: underline;
}

a:HOVER {
	text-decoration: none;
}

.labelsStl{
	margin-top: 8px;
	text-align: left;
}

.labelsStlTitle{
	
	font-size: 1.8em !important;
	
}

.tableAmortCl{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.tableAmortCl{
	
}

.tableAmortCl td{
    padding: 6px 2%;
}

.tableAmortCl th{
    text-align: left;
    padding: 5px 1% 5px;
    background: #999;
    color: #fff;
}

.tableAmortCl-even{
	background-color: #f1f1f1;
}

.menu01Invest{
	float: left;
	background-color: #F1F2F2;
	color: #000000;
	margin-right: 5px;
	width: auto;
}

.menu01Invest a{

	text-align: center !important;
	color: #000000 !important;
	padding: 8px;
	
}

.cornerFillMin{	

	border-left: 10px dotted transparent;
	border-top: 10px solid #818282;
	float: left;
	top: 10px;
	position: relative;
	height: 0;
	width: 0;
	right: 0px;
}

.contEdoCuentafieldset{
	height: auto; 
	overflow: hidden; 
	width: 96%;  
	border: solid 1px #999;  
	margin: 0 auto;
  	
  	clear:both;
	padding: 20px 2%;
	margin: 0 0 19px;
}

.clssContDescPago{
	background-color: #F0FFF0;
	border: solid 1px #439539;
	-webkit-box-shadow: 1px 1px 10px -3px #c2c2c2 !important;
  	-moz-box-shadow: 	1px 1px 10px -3px #c2c2c2 !important;
  	box-shadow: 		1px 1px 10px -3px #c2c2c2 !important;
  	width: auto;
  	position: absolute;
  	z-index: 100;
  	padding: 5px;
  	display: none;
  	height: auto;
}

#contDescPagoCont{
	height: auto !important;
  	overflow: auto !important;
}

.menu_acreditado {
	padding-left: 0px !important;
	overflow: hidden;
	width: 403px !important;
	float: right;
	margin: -21px 0 0 0;
}

ul#bar_menu{
	overflow: hidden;
	clear:both;
}

.dvCntDesPay{
	display: none;
}

/*
----------------------------------------
FdC:        [24.Abril.2014]
Folder:     css/secciones/estado_cuenta/
Programmer: Damián Tapia Nava
---------------------------------------
*/

/*

div#contDescPago > div
{
	position: absolute; 
	top: -15px; 
	right: 5px; 
	height: 10px; 
	width: 10px; 
	cursor: pointer; 
	border: 1px solid blue;
}
*/

div.edo_cta_titulo  h2{

	margin: 23px 0 20px;
	font-size: 2.1em; 
	color: #439539; 
	height: auto; 
	width: 575px;
	font-weight:normal; 	
	

	float: left;

}

.edo_cta_titulo, .recomendaciones, .menu_estadocuenta {
	width: 1024px;
	margin:0 auto;
	font-weight: 300;
}


.encabezado {
	border: solid 1px #439539;
	
}

.contEdoCuentafieldset div.numero_credito {
	float:left;
	width: 38%;
	padding: 7px 0 10px 2%;
}
.estatus {
	float:right;
	width:30%;
	text-align: right;
	margin: 14px 3% 0 0;
	font-size: 21px;
}
.estatus span{
	color: #cadc2d;
	font-weight: bold;
}
.datos_creditos {
	float: left;
	display:block;
	border: solid 1px #ccc;
	padding: 0 0 0 20px;
	margin: 0 0 0 0;
	width: 30%;
	font-size: 14px;
}

.total_creditos {
	border-top:solid 1px #333;
}
.datos_cliente {
	float: left;
	display:block;
	width: 38%;
	
	/* background: #f1f1f1; */
	padding: 0 0;
	margin: 0 0 30px;
}

.datos_cliente table{
	width:100%;	
}
.datos_cliente td{
	padding:6px 0 ;

	font-size: 19px;
}
.pediodo_consultar {
	border-bottom:solid 1px #ccc;
	padding: 0 0 20px;
	width: 100%;
	display: block;
	/* background: #f1f1f1; */
	margin: 0 0 25px;
	overflow:hidden;
}
.pediodo_consultar .labelsStl {
	margin:0 0 10px;

}


.pediodo_consultar  .styled-select-Month {
    width: 200px;
	float:left;
    height: 20px;
    /* background: #fff; */
    margin: 0 2% 0 0 !important;
}


.pediodo_consultar  .styled-select-Year {
	height: 19px;
	float:left;
	border: solid 1px #9f9f9f !important;
	  
	margin: 0 2% 0 0;
}

#completeActionEdo {
	width:120px;
	float:left;
}

.pediodo_consultar a{
	margin:0;

}

.pediodo_consultar  .styled-select-Year select {
	border:none;
}
.datos_creditos {
	float: left;
	display:block;
	border: solid 1px #ccc;
	padding: 13px 2%;
	margin: 0 0 0 0;
	width: 34%;
	font-size: 14px;
	float: right;
}
.datos_creditos .labelsStl {
	font-size:16px;
	margin:0;

}
.datos_creditos td {
padding: 3px 0;
/* border-bottom: solid 1px #ccc; */
}

.datos_creditos table{
	width:100%;
	
}

.num_cliente {
	border-bottom:solid 1px #333;
	padding:0 0 20px;
}
.call_action {
	
	color:#fff;
	text-transform:uppercase;
	font-size: 14px;
	padding: 7px 26px;
	font-family:'Open Sans', sans-serif;
	font-weight: 600 !important;
	background: #ff8a02;	
	display: block;
	text-align:center;
	float:left;
	margin: 12px 0 0;
	text-decoration: none;
}

.estatus .labelsStl {
	width: 100% !important;
	
	padding: 6px 0  8px;
	font-size: 24px;
}
.cont_tables {
	border: solid 1px #439539;
	overflow:hidden;
	padding: 25px 1%;
	margin: 0 0 30px;
	width: 98%;
}
.table_style {
	width: 30.3%;
	float:left;
	padding: 10PX 1% 0;
	font-size: 11px;

	border: solid 1px #f1f1f1;
	margin: 0 1% 0 0;
}
.table_style > table{
	width:100%;

}
.table_style table tr > td{
	border-bottom: solid 1px #f1f1f1;
	padding:4px 3%;
	vertical-align:top;
}

.datos_credito.table_style td {
	width: 50%;
}

.table_style td span{
	font-weight:400;
	color: #439539;
	float:right;

}
.encabezado_gris {
	background:#f1f1f1;
}
.encabezado_gris span {
	font-weight:bold !important;
	font-size:18px;
}
.col_grafica.table_style {

	float:right;
	margin:0;
}

.table_style td {

}

.table_style td {
	
}
.observaciones {
	width:100%;
	clear:both;
	font-size: 15px !important;
	margin: 0 0 30px;
	padding: 0;
}
.numero_estatus {
	background: #439539;
	overflow:hidden;
	color: #fff;
	width: 100%;
	display: block;
}
#pnlResumenCreditos .tableAmortCl th{
	background:#fff;
	color:#333;
}
.periodo_estadocuenta {
	font-size:14px;
	margin:0;
	padding:0;

}
#pnlContBtnMorPro div a{
    background: #ff8a02;
	
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    float: right;
    margin: 0 0 20px;
}

.encabezado_verde2 {
    background: #666;
	
    padding: 10px 3%;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    width: 94%;
}



.recomendacion {
	float:left;
	width:48%;
}
.recomendacion p{
	margin:0 0 ;

}
.recomendacion + .recomendacion {
	float:right;
}
.dos_columnas {
	width:100%;
	clear:both;
	overflow:hidden;
}
.montos_expresados {
	padding:20px 0 0;
	border-top:solid 1px #ccc;
}

.montos_expresados p{
	margin:0 0 0;
	font-size:14px;

}
.tableAmortCl.pagos td{
	padding:7px 0;
	
	font-weight: 300;
}

div.numero_credito > span {
	color: #fff !important;
	font-weight:bold;
}
.resumen_creditos {
	border:solid 1px #439539;
}
@media only screen and  (max-width: 1148px) {
	
	div.edo_cta_titulo  h2{
		width:100%;
		font-size:18px;
	}
.edo_cta_titulo, .recomendaciones, .menu_estadocuenta  {
	width: 96%;
	margin:0 auto;
}

.datos_cliente, .datos_creditos {
	width:45%;	
}


}

@media only screen and  (min-width: 1001px) {
	.tabla_scroll {
		width:100% !important;
	}
}

@media only screen and  (max-width: 1000px) {
.tabla_scroll {
	overflow:auto;
	width:100%;
}
.tabla_scroll > table{
	width:1000px;
	
}
.table_style {
	width: 96.2%;
	margin:0 auto 20px;
	padding:0;
	border: solid 1px #ccc;
	display:block;
	float:none;
	margin: 0 auto 20px;
}
.datos_cliente, .datos_creditos {
	width:96%;	
	margin:0 auto 15px;

}
.col_grafica.table_style {
	margin:0 auto 15px;
	float:none;

	display: none;
}

.tableAmortCl.pagos {
	width:1000px;
}


}


@media only screen and (max-width: 800px) {
.recomendacion {
	float:left;
	width:100%;
}
}
@media only screen and (max-width: 550px) {
ul#bar_menu{
	width: 100% !important;
	float: left;
	margin: 0px 0 20px 0;
 
}
#bar_menu a{
  
	 padding: 13px 5px 10px 5px !important;
	 font-size:15px;
}

.pediodo_consultar  .styled-select-Month {
    width: 66%;
    height: 20px;

    margin: 0 2% 10px 0 !important;
}


.pediodo_consultar  .styled-select-Year {
	height: 19px;
	border: solid 1px #9f9f9f !important;
	width: 28%;
	margin: 0;
	float: right;
}

.call_action {
	width: 100% !important;

	
	padding: 7px 0;
}

}

.edoCtaRegresar {
	float:left;
	margin:10px 0 0;
	width:150px !important;
}

.verComprobante i{
		display:block;
	clear:both;
	font-size: 19px;
	color: #8FC450;
}

#btnImprimirEstado {
	float:right;
	display: block;
	width: 127px;
	margin: 20px 0 9px;
	cursor: pointer;
	font-size: 19px;
	text-decoration: underline;
}

#btnImprimirEstado i{
	font-size:35px;
	
}

#btnImprimirEstado span{
	float:right;
	text-decoration:underline;
	font-weight:600;
	
}
		#estadoCuentaImprimir {
			clear:both;
		}

.logoEstadoImprimir {
 	width:90px;
 	display:none;
 }

.logoEstadoImprimir img{
 	width:100%;
 }
 		

	@media print {
 		.header, #btnImprimirEstado, .footer, .push_header.interior, .menu_acreditado, .pediodo_consultar, .callActionMedium.btnNaranja, .ui-panel-titlebar.ui-widget-header.ui-corner-all, .verComprobante, div.edo_cta_titulo h2 {display:none !important; 
 		
 		
 		
 		}
 		.logoEstadoImprimir {
 			display:block;
 		}

		}

.cargosAclaracion {
	width: 100%; 
	height: 25px; 
	padding-bottom: 0px; 
	padding-top: 5px; 
	background-color: #439539; 
	text-align: center;
}
.cargosAclaracion .labelsStl {
	
	color:#fff;
}

#header, #footer {
	width: 100%; magin-right: 0px; margin-bottom: 0px;
}

.edoCtaRegresar {
	margin-bottom: 15px; width: 75px;
}


.nuevoPrestamoEnlace {
	float:left;
	margin: 20px 0 0 60%;
	width: 168px;
	cursor: pointer;
}

.nuevoPrestamoEnlace span {
	font-size:15px;
	font-weight:600;
	
}

.nuevoPrestamoEnlace span {
	font-weight:600;
	font-size:15px;
	height: 15px;
	display: block;
	overflow: hidden;
	margin: 0;
	line-height: 14px;
	width: 126px;
	float: left;
	margin: 10px 0 0;
}
.avisoIcon {
	float: right;
	position:relative;
	width: 41px;
	height:30px;
}
.avisoIcon i {
	font-size:30px;
	color:#999;
}
.avisoIcon small {
	width: 12px;
	height: 12px;
	display:block;
	border-radius:40px;
	border: solid 2px #8FC450;
	color:#8FC450;
	background:#fff;
	position:absolute;
	text-align: center;
	top: 5px;
	right: 0;
	font-weight: 600;
} 



@media only screen and (max-width: 1024px) {
.nuevoPrestamoEnlace {

	margin: 20px 0 0 40%;
	
}
}


@media only screen and (max-width: 880px) {
.nuevoPrestamoEnlace {

display:none;
	
}
}
/*alert css */


.alertaModal {
	background: #fff;
	display:block;
	position: absolute;
	/* width:100%; */
	font-family:'Open Sans', sans-serif;
	font-size:12px;
	z-index:9999999999999999999999999;
	-moz-box-shadow: 0px 2px 9px #999;
	/* -webkit-box-shadow: 0px 2px 9px #999; */
	border: solid 2px #8CC251;

	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-o-transform:scale(0);
	transform: scale(0);
	opacity: 0;
	padding:0;
}

.alertaModal.show {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	transform: scale(1);
	opacity: 1;
}


.textoCopys.renovacion-texto {
	padding:20px 0 0;
}

.textoCopys.renovacion-texto  h2 {
		color: #8FC450;
	font-size:26px;
	margin: 0 0 20px;
	font-weight:700;
}

.pasos_generales.renovacion-texto h2 {
	color:#333;
	font-weight:700;
	font-size: 20px;
	line-height: 22px;
}

.pasos_generales.renovacion-texto .btnNaranja {
	width: 261px;
}


.pasos_generales.renovacion-texto article > figure {
	height: 180px;
	width: 180px;
	margin: 0 auto 0px;
}


.renovacionesPopUp {
	max-width:950px;
	top:50px;
	padding:50px;	
}




.pasos_generales {
	overflow:hidden;
	width:100%;
	margin: 0 0 30px;	
}


.pasos_generales article{
	float:left;
	display:block;
	width: 20.3%;
	text-align:center;
	padding: 0px 2% 0;
	font-size:14px;
}
.pasos_generales article > figure {
	height: 204px;
	width: 204px;
	margin: 0 auto 20px;
}
.pasos_generales article > figure img {
	
	
	width: 100%;
	
}
.pasos_generales article.pasoUno figure {
	background-size: 604px;
	background-position: 0px 0;
}

.pasos_generales article.pasoDos > figure {
	background-size: 604px;
	background-position: -204px 0;
}

.pasos_generales article.pasoTres figure {
	background-size: 604px;
	background-position: -408px 0;
}
.mostar_prestamo  h2 {
	font-size:25px;
	margin:0  0 20px;

}
.pasos_generales article > img{
	width: 68%;
	height:auto;
	margin:0 auto 20px;
	display:block;
}

.pasos_generales h2{
	color: #8FC450;
	font-size:26px;
	margin: 0 0 30px;
	font-weight:700;
}
.pasos_generales a{
	/* color:#568e3e; */
	
	font-weight: 600;
	display: block;
	margin: 0 auto;
	float: none;
	/* width: 46%; */
	clear: both;
	/* padding: 9px 26px; */
	margin: 0 auto 10px;
	/* border-radius: 5px; */
}
.pasos_generales p{
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-weight: 500;
}

.pasos_generales p strong{
	font-weight:500;
	color:#8FC450;
}

.listado_requisitos {
	width: 100%;
	margin:10px auto 0;

}

.listado_requisitos  li {
	overflow:hidden;
	width:100%;
	display:block;
	margin:0 0 5px;
}
.listado_requisitos  li p{
	float:right;
	text-align:left;
	width:85%;
	display:block;
	margin:5px 0 0 0;

}
.listado_requisitos  li figure {
	display:block;
	float:left;
	width:10%;
}

.listado_requisitos  li figure img{
	width:100%;
	height:auto;
}

.listado_requisitos  li ol {
	float:right;
	display:block;
	width:85%;
	clear:both;
	margin: 0px 0 0 0;

}

.listado_requisitos  li ol li {
	text-align:left;
	margin: 0 0 5px;
}

.listado_requisitos  li ol li i{
	margin:0 5px 0 0;
	color: #8FC450;

}


.titulares {
	margin:0 0 30px;
}
.textoCopys {
	text-align:center;
}
.textoCopys h2, .textoCopys h3 {
	font-size: 21px;
	color:#333;
}

.closePop {
	width: 37px;
	height: 34px;
	position:absolute;
	z-index:99;
	top: -20px;
	right: -20px;
	background: #8CC251;
	border-radius:30px;
	color:#fff;
	text-align:center;
	font-size: 27px !important;
	font-weight: 300 !important;
	padding: 3px 0 0 0;
	cursor:pointer;
	border: solid 2px #fff;
}
@media (max-width: 850px) {
.pasos_generales {
	overflow:hidden;
	width:100%;
	margin: 0 0 0px;	
}
.pasos_generales article{
	float:none;
	width:100%;
	margin: 0  0 30px;	
	border-bottom: dotted 1px #ccc;
	padding: 0 0 30px;
}

.pasos_generales article:last-child{
	border-bottom: none;

	margin: 0;
	padding: 0;
}

.pasos_generales article img{
	width: 38%;
	height:auto;
	margin:0 auto 30px;
	display:block;
}

.listado_requisitos {
	margin:20px auto 0;
}

.listado_requisitos  li {
	margin:0 0 0px;
}
.listado_requisitos  li p{
	width:87%;
	margin:0px 0 0 0;

}
.listado_requisitos  li figure img{

	margin:0 0 10px;
}

.listado_requisitos  li ol {

	margin: -8% 0 0 0;
	padding:0;
	width:87%;

}

.listado_requisitos  li ol li {
	text-align:left;
	margin: 0 0 5px;
}

.listado_requisitos  li ol li i{
	margin:0 5px 0 0;
	color: #8FC450;
}
}
@media (max-width: 550px) {
.pasos_generales article img{
	width: 50%;
	height:auto;
	margin:0 auto 0px;
	display:block;
}
#prestamo_invertir .pasos_generales a{
	font-size: 16px;
	margin: 0 auto !important;	
	float:none;
	width:200px

}
.pasos_generales p{
	font-size:16px;
	line-height:21px;
}
}
@media (max-width: 550px) {
.listado_requisitos  li ol {
	margin: 0px 0 0 0;

}
}
@media (max-width: 600px) {
.renovacionesPopUp {
	width: 76%;
	top:50px;
	padding:20px 10%;
}
}