@CHARSET "UTF-8";

div#container_full_name
{ 
	margin-left: -5px;
	padding:5px;
	cursor: pointer;
	background-color: white;
	color: #333333;
	border:0px solid black;			
	float:left;
}

div#container_full_name:hover
{		
	margin-left: -5px;
	padding:5px;
	cursor: pointer;
	background-color: #4D4D4D;
	color: #ffffff;
	float:left;
}

div#container_editar_full_name
{
	display: none;
	padding:5px;
	border:0px solid black;
}

div#container_editar_full_name input
{
	border: #ccc 1px solid !important;
}