@CHARSET "UTF-8";

div#container_vivienda_TOKEN,
div#business-address-TOKEN
{ 
	cursor: pointer;
	background-color: white;
	
	border:0px solid black;
}
div#container_vivienda_TOKEN p,
div#business-address-TOKEN p
{
	color: #439539; 
}

div#container_vivienda_TOKEN:hover,
div#business-address-TOKEN:hover
{		
	cursor: pointer;

	color: #ffffff;
}
div#container_vivienda_TOKEN p:hover,
div#business-address-TOKEN   p:hover
{	
	color:#8FC450 !important
}

div#container_editar_vivienda_TOKEN,
div#container-employment-address-TOKEN
{
	display: none;
	font-size:16px !important;
	margin: 20px 0 0 0;
	color: #666;
	width: 400px;
}

#container_editar_vivienda_TOKEN .dvElementAddres1{
	width:400px;

	margin: 0 0 10px !important;
	padding: 0 !important;
}

#container_editar_vivienda_TOKEN  .dvContent {
	margin:0;
}
#container_editar_vivienda_TOKEN  .dvLabel {
	font-size: 11px !important;

	width: 100%;
	padding: 0;
	margin: 0;
}

#container_editar_vivienda_TOKEN  .styled-select{
	width:90% !important;

}
#container_editar_vivienda_TOKEN  input, 
#container_editar_vivienda_TOKEN  select, 
#container_editar_vivienda_TOKEN  textarea{
	font-size: 16px !important;	
	color:#666;
}

#container_editar_vivienda_TOKEN  .dvElement {
	padding:0;
}


#container_editar_vivienda_TOKEN .stlCntNumExt, 
#container_editar_vivienda_TOKEN  .stlCntNumInt, 
#container_editar_vivienda_TOKEN .stlCntNumApple, 
#container_editar_vivienda_TOKEN .stlCntNumLote {
	float: left !important;
	display: block !important;
	clear: none !important;
	width: 45% !important;
}

.editor-domicilio.label
{
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #262322;
	line-height: 17px;
	margin:0;
}

.editor-domicilio.input-text
{
	font-family: 'Open Sans', sans-serif;
	border: solid 1px #9f9f9f;
	font-size: 14px !important;
	color: #000;
	font-weight: 300 !important;
	box-shadow: none !important;
	font-family: 'Open Sans', sans-serif;
	resize: none;
	font-size: 14px !important;
}

#vivienda div.address-type-label-container
{
	float: none; 
	clear: both; 
	position: relative;
	overflow: hidden;
	border: 0px solid black;
}

#vivienda div.address-type-label
{
	float: left; 
	font-weight: bold;
	height: 25px;
	padding-top: 5px;
}

div#container-employment-address-TOKEN div.dvElementAddres1
{
	width: 360px;
    padding-left: 0;
}

div#container-employment-address-TOKEN div.dvLabel
{
	margin-left: 0;
}

select#activity-neighborhood-id
{
	height: 32px;
	width: 100%;	
	margin-bottom: 0 !important;
	border:0;
}

div.neighborhood-text-vivienda
{
	width: 100%;
	font-size: 0.8em;
	color: #0066FF;
	margin:10px 0;
	cursor: pointer;
}

#container_editar_vivienda_TOKEN .neighborhood-text-vivienda p {
    color: #439539 !important;
	font-size:14px;
}

