@CHARSET "UTF-8";

div.main_titulo_menu_items
{
	width: 270px;
		
	margin:15px auto;
	padding:0;
	
	border:0px solid black;
}

p.titulo_menu
{	
	margin:0 auto;	
	
	font-size:21px;
	font-weight: bold;
	
	color: #439539;
	
	border: 0px solid black;
}

div.menu_subtitulo
 {		
 	margin-top:15px;
	font-size: 1.2em;
	font-weight: bold;

	color: #439539;
	
	border:0px solid black;
}

div.main_menu_items  
{
	margin-top: 10px;
	
	border: 0px solid black;
}

div.main_menu_items a 
{
	text-decoration : none;
	font-size: 1.2em;
	color: #39373a;
}

div.west_menu_item
{
	width: auto;
	height: 25px;	
	padding-top: 7px;
	
	cursor:pointer;
	border-bottom: 1px solid #e7e8d6;
}

div.west_menu_item label 
{
	padding-left:20px;
	cursor:pointer;
	color: black;
}