@CHARSET "UTF-8";
input.vanadium-invalid, select.vanadium-invalid, textarea.vanadium-invalid {
    border-color: red !important;
    border-style: solid !important;
    background-color: #FFC7CE !important;
}
input.vanadium-valid, select.vanadium-valid, textarea.vanadium-valid {
    border-style: solid !important;
}
.vanadium-message-value {
    font-style: italic;
    text-decoration: underline;
}
.vanadium-advice {
    font-size: 0.8em;
    margin-left: 10px;
}
.vanadium-advice.vanadium-invalid, .vanadium-advice.vanadium-invalid * {
    color: red !important;
}
input.vanadium-valid {
    background-color: greenyellow;
}
input.vanadium-valid ~ .vanadium-valid-advice {
    color: green;
    display: inline !important;
}
.container {
    border: 2px solid #0000FF;
    margin: 3px;
    padding: 2px;
    width: auto;
}
.container.vanadium-valid {
    border-color: #00FF00 !important;
}
.container.vanadium-invalid {
    border-color: #FF0000 !important;
}