@CHARSET "UTF-8";

div.main_titulo_simulador
{
	width: 205px;
	height: auto;	
	
	margin:0 auto;	
	padding:30px 2px 2px 0px;	
			 	
	overflow: hidden;
	
	border:0px solid black;
}

div.barra_verde_titulo
{
	width: 268px; 
	height: 32px; 

	position: absolute; 
	top: 10px; 
	left: 8px;
	z-index: 1; 
	
	opacity:0.9; 
	filter:alpha(opacity=90);
		
	background-repeat: repeat-x; 
	
	border:0px solid #FFF200;
}

div.west_sombra
{
	width: 10px; 
	height: 15px; 
	 
	position: absolute; 
	top: 32px; 
	left: 0px; 
		 
	background-repeat: no-repeat;	
}

div.east_sombra
{
	width: 10px; 
	height: 15px;  
	
	position: absolute;
	 
	top: 32px; 
	right:0px; 
		
	background-repeat: no-repeat;	
}

p.simulador_titulo
{
	width: 281px;
	height: 32px;
	
	margin:0;
	padding-top: 5px;
	 
	position: absolute; 
	top: 9px; 
	left: -3px;
	z-index: 2; 
	
	text-align: center;
	font-size: 1.5em; 
	font-weight: bold; 
		
	border:0px solid black; 		
}