@CHARSET "UTF-8";

table.tabla_plazo
{
	margin:0 auto;
	font-size: 0.8em;
	
	border:0px solid black;
}

.input_plazo
{
	width: 40px !important;
}
	
.select_frecuencia 
{
	width: 140px;
	height: 25px;
	
	margin:0;
	padding:0;
	
	overflow: hidden;	
	background-repeat:no-repeat;
	background-position: right;
	background-color: white;
	border: 1px solid #fff200;

	box-shadow: 		1px 1px 10px -3px #c2c2c2 !important;
	-webkit-box-shadow: 1px 1px 10px -3px #c2c2c2 !important;
 	-moz-box-shadow: 	1px 1px 10px -3px #c2c2c2 !important;		   
}

.select_frecuencia select 
{
	width: 160px;
	height: 28px;
	
	margin:0;
	padding:0;
	
	font-size: 16px !important;
	font-weight: normal;
	color: #2e2e2e;
	
	
	background: transparent;
	
	 -webkit-appearance: none;

	border:0px solid black;
	}