@CHARSET "UTF-8";

div.label_CAT
{	
	font-size: 1.4em; 
}

div.main_avisos
{
	width: 167px; 
	height: auto;
	
	margin:5px auto;
	padding: 5px;
	
	text-align: justify; 
	font-size: 1.0em; 
	
	border: 0px solid black;
}

p.avisos_legales
{
	width: auto; 
	
	margin:0;
	padding: 5px; 
	
	text-align: justify; 		
	line-height:20px;
	font-size: 13px; 

	border: 0px solid black;	
}

div.advertencias
{
	width:80px;
	
	margin:5px 0 0 5px;
	
	cursor: pointer;
	
	border: 0px solid black;
}