doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.min.css')
  body
    form(action='/users/create' method='POST')
      button(type='submit') Crear Nuevo

    each user in users
      a(href='/users/delete?id=#{user.id}') x
      |  #{user.name} 
      a(href='/users/playback?id=#{user.id}') signature playback
      br