h1 {
	color: #22f;
}

body{
	margin-right: 40px;
	margin-left: 40px;
	font-size: 9px;
}

.title{
	font-weight: bold;
}

.spback{
	margin-top: 30px;
}

p{
	font-size: 9px;
	text-align: justify;
		text-justify: inter-word;
}

li{
	font-size: 9px;
	text-align: justify;
		text-justify: inter-word;
}

.title2{
	font-size: 9px;
}
.spback2{
	margin-top: 20px;
}


.firma{
	max-height: 100px;
	max-width: 300px;
	border-bottom: thick solid #444;
	border-width:thin;
}
