@CHARSET "UTF-8";

.custumStlFileUpload{
		display: block !important;
	}
	
	.ui-fileupload{
		visibility: visible !important;
	}

	#pageone div.dvLabel{
		width: 97% !important;
		text-align: left !important;
	
		max-width: 100%;
}
	
	.labelsStl{
		text-align: left !important;
	}
	.elementStlLbl{
		font-size: 1.1em !important;
	}
	.dvContent{
		margin-top: 18px;
	}
	.dvContentPLD{
	
		height: auto;
		overflow: auto;
		float: none;
		vertical-align: bottom;
	
	}
	.dvContentPLD p{
		clear: both;
	}
	td{
	  margin-right: 15px !important;
	  border-right-width: 10px !important;
	  border-right-color: #FFFFFF !important;
	  padding-right: 15px !important;
	}
	
	.imgLogoProyect{
		width: auto; 
		height:auto;
		margin-top:10px;
	}
	
	span .ui-button-text{
		font-size: 0.87em !important;
		margin-top: 3px !important;
	}
	
	.custumStlFileUpload .ui-button-text, .custumStlFileUploadPreview .ui-button-text{
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		
	}
	
	.ui-mobile label, div.ui-controlgroup-label{
	
	font-size: 1.45em !important;
	
	} 
	
	.ui-widget{
		font-family: inherit !important;
	}
	
	.dvContTitlePLD{
		width: 99%;
	}
	
	.dvTitlePLD{
		width: 99%;
		font-size: 0.8em !important;
	}
	
	.dvTitlePLD .clTitle{
		line-height: 30px !important;
	}
	
	.ui-radio{
			font-size: 0.7em !important;
			padding: 0px !important;
	}
	
	table.elementStlRd td{
		padding: 0px  !important;
	}




.ui-mobile label, div.ui-controlgroup-label{	
		font-size: 20px !important;
} 
.elementAddres1, .elementAddresPointref{
	width:94% !important;
	margin-left: 0px !important;
	font-size: 20px !important;
}
.elementStlSelAddress{
	width: 195px !important;
	font-size: 20px !important;
	height: auto !important;
}
.ui-select {
	border:solid 1px #FFF200 !important;
}
#contFrmPre .dvElementAddres1 {
	width: 97% !important;
}
.ui-select  .elementStlSelAddress{
	width:100%;
	margin:0 !important;
}
 .dvElementAddres1 .ui-input-text input {
 	width:100% !important;
}
 .ui-select .ui-btn {
 	padding-bottom:0;
 }
 #comboDate td{
 	padding-right:0px !important;
 	width: 33%;
}
 .ui-input-text, .ui-input-search {
 	margin:0;
}
.dvContent{
	margin-top: 0px !IMPORTANT;
}
.ui-mobile label, .ui-controlgroup-label {
	margin: 0px !IMPORTANT;
}
.ui-select span {
	text-align:left ; 
	font-size: 20px !important;
}
.ui-select {
	width:99.5%;
}
 .dvContent textarea, fieldset textarea, textarea {
	width:100% !important;
	height: auto !important;
	font-size:20px !important;
	border:solid 1px #FFF200 !important;
}
.clTitle, .labelsStlTitle {
	font-size:20px !important;
}
#contFrmPre h2, #contFrmPre h2 a, .labelsStl {
		font-size:20px !important;
}
.dvElement {
	clear:both;
}
#general .elementTextArea, #txt_about_me {
	width:100% !important;
}
.ui-input-text {
	float:left;
}
.elementAddresMin {
	padding:0 !important;
	height: auto ;
	font-size:20px !important;	
}
.ui-shadow-inset {
	border:none !important;
}
.dvElementLength input, .ui-input-text {
	width: 100% !important;
}
.ui-shadow-inset {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
}
#pageone .dvContent2 {
	width:100% !important;
}
.styled-select-Month {
	float:none !important;
}
#show_confirm {
	padding:0 !important;
	border:2px 1px #333 !important;
}
.dvContent2 .dvContent {
	width:100% !important;
}
.clTitle label{
	text-align:left;
}
.ui-radio{
	font-size: 12px !important;
	padding: 0px !important;
}
.ui-radio label {
	padding:0 10px 0 40px;	
	font-size: 18px !important;
}
#contGralUpld .dvElementLength .dvLabel label.labelsStl {
	font-size:20px !important; 
}
.containerTitleUpload {
	width:100%;
}
.titleDisabled {
	float:right;
	width:74%;
	margin:0 !important;
	padding:0 !important;
}
.numberAndTitleDisabled img{
	float:right;
	display:block;
}
#errorsPage > div{
		width:86% !important;
		float:none;
		margin:0 !important;
		padding:20px 5% !important;
}
.dvElementAddres1 {
	width:96.5% !important;
}
#acbusiSimple .ui-input-text  {
	width:97% !important;
}
.styled-select-Address {
	width:100% !important;
}
.link_editar_curp p {
	margin:30px 0 0 0;
}

#lstPercBenefi .dvElement{
	width:100% !important;
	overflow:hidden;
}

#actualPage #investmentProfile .dvLabel {
	width:100% !important;
	max-width: 98%;
}

#actualPage #investmentProfile table td  {
	font-size:14px;
	padding: 10px  2% !important;

	line-height: 19px;
}

#actualPage #investmentProfile table th  {
	font-size:14px;
	line-height:18px;
}
.fieldInver table{
	display:block;
	clear:both;
	width:100%;
	display:block;
}

.box {
	font-size:20px;

}

#actualPage #investmentProfile table .ui-checkbox {
	clear:both;
	text-align:center;
	margin:0 auto 0 !important;
	display:block;
	width: 100%;
}
#actualPage #investmentProfile table .ui-checkbox input {
	text-align:center;
	margin:0 auto 5px;
	display:block;
	/* width:100%; */
	left: auto;
	position: relative;
	top: auto;
	float:none;
}

#actualPage #investmentProfile table td br {
	display:none;


}

 .ui-checkbox input {
	text-align:left;
	margin:0;
	float:left;

}

.ui-mobile fieldset {
	min-width: 0;
	padding:0 1%;
}

.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
	width:100% !important;
	overflow:hidden;
}

.dvContentPLD{
	overflow:hidden !important; 


}

.labelsStl {
width: 94%;
padding-right: 5px !important;
}

.dvContent2 .dvLabel {
width: 99%  !important;
text-align: justify !important;
}