@CHARSET "ISO-8859-1";
body{
		 	margin: 0px;
		 	padding:0;
		}
.backHeader {
	margin-left: auto; margin-right: auto;
}

#logo {
	margin-left: 10px; margin-right: auto;margin-bottom: 10px; margin-top: 10px;
}
.kuboPrimeraPlataforma {
	width: 90%; text-align: justify; margin-left: auto; margin-right: auto;
}
.fraseCapitulo{
	width: 100%;
	color: #5B6B72;
    font-size: 182%;
    font-weight: normal;
    
}

.tituloMenu {
	/*color: #0A2945;*/
	font-size: 161.6%;
	font-weight: bold;
	vertical-align: bottom;
	right: 30px;
	width: 98%;  
	margin: 0px; 
	padding-left: 4px;
	color: #439539;
}
.subtituloMenu {
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 12px;
	padding-bottom: 8px;
	padding-left: 4px;
	color: #439539;
}
.hrCnt {
	width: 1px solid;
	color: #e7e8d6;
	/*color: #ffffff;*/
}
.links  {
	color: #39373a;
	font-weight: normal;
	text-decoration : none;
	vertical-align: middle;
	font-size: 1.2em;
}
.linkInterno:hover, .linksQuest:hover{
   text-decoration : underline;
}

.gridQuest{
	border-bottom: 1px solid;
	color: #e7e8d6;
	/*color: #161e0f;*/
	padding-bottom: 10px;
}
/*
#simImg{
	z-index: 2;
	position: relative;
	
	overflow: auto;
}
#simDesc{
	z-index: 3;
	position: absolute;
	top:233px;
	right: 60px;
}
*/
#dvPreg{
	background-color: #ececee;
	margin-top: 15px;
	padding-top: 10px;
	text-align: center;
}

#preguntas{
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	
}

#preguntas a{
	/*color: #232c1b;*/
	color: #444444;
	font-size: 1.0em;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: justify;
}
#preguntas a:HOVER{
	text-decoration: underline;
}

#callToActionBook{
			padding: 5px 5px 5px 5px;
			background-color: #e6511e;
			border: solid 1px #f6f6f6;
			border-radius: 4px;
			-ms-border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			-khtml-border-radius: 4px;
			margin-left: auto;
			margin-right: auto;
			width: 150px;
			height: auto;
			overflow: auto;
			margin-bottom: 20px;
			margin-top: 10px;
			text-align: center;
			vertical-align: middle;
			color: #f6f6f6;
			font-weight: bold;
		}
#descBook{
	text-align: center;
	font-size: 1.1em;
	
}
#callBook{
	margin-top: 15px;
}

.dvMenu{
	width: 97%;
	height: 25px;
	vertical-align: bottom;
	border-bottom: 1px solid #e7e8d6;
	padding-top: 7px;
	padding-left: 7px;
}
.elmnt:hover,.dvMenu:hover{
	cursor: pointer;
}
#sobreImagen{
	margin-bottom: 20px;
}

.linksQuestMenu{
	font-size: 1.1em;
	text-decoration: none;
	color: #6b6b6b;
	font-weight: normal;
}

.resalte{
	color: #ff6607;
	font-weight: normal;
}

.opc{
	float: left;
	border-right: solid 1px #E3E3E3;
	height: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	font-size: .85em;
}

.opc:hover, .linksQuestMenu:hover{
	
	background-color: #f6f6f6;
}
