ul#bar_menu{
    width: 99%;
	
}
#bar_menu li {
	display: block;
    list-style: none;    
    
	float: left;
}
#bar_menu a{
	 border: 1px solid white;
     
	 padding: 5px 18px 10px 18px !important;
     text-decoration: none;
     color:inherit;
     
	 /* margin-left: -5px; */
     
	 background-color: #fff;
     color: inherit;
	 border: solid 1px #439539;
	 display: block;
}
#bar_menu a:hover{
	background-color: #439539;
	color:#fff;
}
#bar_menu a:hover span{
	color: #fff;
}
#bar_menu a.selectedMenu{
	background-color: #439539;		
	color: #fff !important;
}
#bar_menu a.selectedMenu span{
	background-color: #439539;		
	color: #fff !important;
}
#bar_menu a .numberMenu{
	color: #439539; 
	font-size: 2em; 
	font-weight: bold; 
}

#container_search_expedient{
	border:2px solid #439539;
	width: 515px;
}

.tab{
    width: 519px; 
}

.tab div.search{
    display: block;
    float: right;
    width: auto;
    border: 2px solid #439539;
    background-color: #439539;
    padding: 3px;
}

.tab div.search span a {
	color: #333333;
}

.tab div.search span a:hover {
	color: white;
}

.tab a.open, .tab a.close {
	cursor: pointer;	
}




#detailsTableRight .toggle_container {
	width:460px !important;
}


.frmMesa .contenedor_buscador {
    width: 520px;
    margin: 0 0 30px;
    clear: both;
    display: block;
    min-height: 40px;
}
.frmMesa  .contenedor_buscador .expand_heading {
	width:470px !important;
}
.frmMesa  .contenedor_buscador .toggle_container {
	width: 96% !important;
	font-size:15px;
	padding: 10px 2% 0;
}
.contenedor_buscador #radio-type-search {
	margin: 0px 0 0;
}
.frmMesa .contenedor_buscador {
}
.frmMesa .contenedor_buscador input[type="text"] {
	border:solid 1px #ccc;
	box-shadow:none !important;
	width: 320px !important;
	float: left;
	padding: 4px 2px !important;
}
.frmMesa  .contenedor_buscador .dvLabel{
 	margin:0 0 10px 10px;
 }

.frmMesa  .contenedor_buscador .buttonPR {
 	background:#439539;
 	color:#fff;
 	border:none;
 	margin:0 !important;
 	height: 25px;
}

#container_buscar {
float: left;
margin-left: 0px !important;
margin-top: 30px !important;
border: 0px solid silver;
}

.radio {
margin: 10px 0;
}

#container_autocomplete {
width: 331px !important;
float: left;
border: 0px solid silver;
margin: 0 !important;
}

.frmMesa .contenedor_buscador  #text-search-type {
 	margin:0 0 10px 10px !important;
 }
 
 #input_autocomplete {
	width: 320px !important;
	float: left;
	margin: 10px 0 10px 7px !important;
}

.frmMesa  #filter_by_status .expand_heading, .frmMesa  #filter_by_type .expand_heading, .frmMesa #for_ammount  .expand_heading, .frmMesa  #sidebar .expand_heading  {
	width:100% !important;
}

.frmMesa  #filter_by_status .toggle_container, .frmMesa  #filter_by_type .toggle_container, .frmMesa  #for_ammount .toggle_container, .frmMesa  #sidebar .toggle_container   {
	width:100% !important;
}

.providing_table_fake{
	width: 1015px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2px;
	/* min-width: 400px; */
	overflow-x: auto;
	float: right;
}

.providing_table_fake .content_fake{

	width: 1075px !important;

	height: 20px;

}


#dvContentLoanLst #providing_table{
    width: 953px;
    float: right;
    margin: 10px 20px 0  0;
    clear: right;
}
#table_proyect_list {
	overflow:auto;
}

		.investFrm, .investFrmFixed, .investFrmTop, .investFrmBottom
		{	
			background:transparent; 
			height: 118 !important; 
			background-color: transparent !important; 
			overflow: auto;
			border: solid 0px #EFEFEF;
			
			width: 189px !important; margin: 0px; 
	
			/* position: absolute;
			*position: relative;
			*float: none; */
		}

.investFrmBottom a, .investFrmBottom a:HOVER, .investFrmBottom a:VISITED,
.investFrmFixed a, .investFrmFixed a:HOVER, .investFrmFixed a:VISITED,
.investFrm a, .investFrm a:HOVER, .investFrm a:VISITED{
	text-decoration: none;
	color: inherit;
}

.investFrm{
	position: absolute;
	left: 925px; 
	top: 140px;
	border: solid 0px #00FF00; 
}

.investFrmTop{
	position: relative;
	left: 925px; 
	top: 50px;
}
.investFrmBottom{

	position: absolute;
	bottom: 0px !important;
	margin-bottom: 0px !important;
}
.investFrmFixed{
	top: 10px;
	left: 1035px; 
	position: fixed;
}

.tempCls{
	border: solid 0px #000000 !important; 
	position: fixed; 
	left: 1040px; 
	top: 480px; 
	
	
}
		   <!-- styles for chrome and safari -->
		   ::-webkit-input-placeholder {
		      color: #808080 !important;
		      font-weight: normal !important;
		      font-size: 0.9em !important;
		   }
		   <!-- styles for firefox -->
		   :-moz-placeholder {
		      color: #808080 !important;
		      font-weight: normal !important;
		      font-size: 0.9em !important;
		   }
		       <!-- styles for internet explorer -->
		   .ui-watermark {
		         color: #808080 !important;
		         font-weight: normal !important;
		         font-size: 0.9em !important;
		   }
				
				.fixme td{
					
					text-align: center !important;
					border-bottom : solid 1px #d6d6d6 !important;
					
				}
				
				#dvlstCnsltCont{
					font-size: 0.85em !important;
				}
				
				#menuContainer{
					margin:0 0 20px;
					margin-left: 100px
				}
				
				#dvCntProfile{
					margin-left: 110px;
				}



				#dvContPersonalData .ui-progressbar {
					height:10px !important;
					background-color:#eae9e9;

				}

				#dvContPersonalData	.menuItemNum {
					margin:0 !important;
					padding:0 !important;

				}

#dvContPersonalData .menuItemNumSel
{
	padding:0 !important;	    
	font-weight: 700;
    text-align: left;
}


#dvContInvFlot + div{
	overflow:inherit !important;
	
}

.respMesa {
	margin-left: 110px;
}


@media (max-width: 1024px) {
	#pnlBttns {
		bottom: 0 !important;
		position: fixed;
		z-index: 9999999999;
		left: 0;
		width: 100%;
		display: block;
	}

	#pnlBttns .btn_verde {
		float:left;
		width: auto !important;
		font-size: 12px;
		height: 24px;
		margin: 0;
		padding: 12px 5px 0;
	}

	#pnlBttns .investFrm{
		position: relative;
		left: auto;
		top: auto;
		border: none;
		/* width: auto !important; */
		padding: 0 !important;
		width: 100% !important;
		background: #548f39 !important;
		overflow: hidden;
}
	#pnlBttns .investFrm div{
		float:left;
	}


#menuContainer,  {
	margin:0 0 20px 20px;
}
#dvCntProfile, .respMesa {
	margin:0 0 0 20px;
}
.frmMesa {
	width:100%;
	clear:both;
}
#admCont {
	width:100% !important;
	overflow: hidden !important;
}
#admMenu {
	width: 100% !important;
}
.administracion-panel.container {
		overflow:hidden !important;
}
.clsContBtnInvPend #inv_paq {
	width: 100% !important;
}
#admCont .styled-select-Address {
	width:300px;
}
}








/* botones mesa de control */

/*
.pantalla_controltable .detailsTabAllControlTable {
		right:363px;
		left:auto;
}
.pantalla_controltable .clsActivityButt {
		right:273px;
		left:auto;
}
.pantalla_controltable .detailsTabHelpControlTable {
	right: 149px;
	left:auto;
}

#actualPage .pantalla_controltable .clsDiagNosticoButt {
right: 0;
left: auto;
display:block !important;
}
*/

#carterakubo .btn_verde {
	width:100%; 
	
	display:block;

}

.noCliente .fechaAcesso {
	opacity:1;
	display:block;
}

.noCliente .privado .menu_principal article small {
	display:block;
}

.velo2 {
	display:none;
}
.contenidoExpediente {
	 width: 910px;
	 float:right;
}
.menuIzqC {
		 width: 230px;
}


.menuIzqC li{
	
}

.menuIzqC li a{
	padding: 8px 8px !important;
}

.notas_del_caso.formato_tablas span{
	text-align:left;
	
	
}
.notas_del_caso.formato_tablas th {
	padding: 5px 10px !important;
}
.notas_del_caso.formato_tablas {
	width:800px;
}


a.close_lightbox {
	background:url(../images/close.png) no-repeat right top;
	width:35px;
	height:35px;
	display:block;
	position:absolute;
	z-index:10;
	top:-20px;
	right:-20px;
}

.sesionesFilter {
	background:none;
}
.sesionesSelect {
	width:300px;
	
}

.formato_tablas.sesiones {
	width:100%;
}

.formato_tablas.sesiones td {
	padding:5px 15px;
	font-size: 15px;
	vertical-align: middle;
}
.formato_tablas.sesiones tr td + td + td{
	padding-right:0;
}
.borrarSesion {
	width:140px;
	float:right;
}
.sesionTipo {
	margin: 0 0 20px;
}
.sesionTipo p {
	font-weight:bold;
	font-size:17px;
	margin:0 0 5px;
}
.contentSesiones {
	width:1085px;
	margin:30px auto 0;
}