@font-face{
   font-family: "agency";
   font-style: normal;
   font-weight: normal;
   src: url(fonts/AGENCYB.TTF);
}

body{
	font: 13px/1.231 helvetica,arial,clean,sans-serif;
}

.General  {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}
.columnas{
	vertical-align: top;
	border: 0;/*1px gray solid;*/ 
}

.cuerpo{
	/*background-color: #989898;*/
			background-image: url("../img/micro-01.png");
	background-repeat: repeat;
	
}

.fondo{
	background-color: #FFFFFF;
	background-image: url("../img/kubos.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-top: 0px;
	
}

#logo{
	margin-left: 4px;
}

.linksQuest{
	/*font-family: Arial, Helvetica, sans-serif;*/
	color: #5A9229;
	font-size: 13px;
	text-decoration : none;
	padding-top: 0px;
	padding-bottom: 0px;
}

.tituloTree{
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	text-decoration : none;
	padding-top: 0px;
	padding-bottom: 0px;
}

.listQuest{
	padding: 0px;
	padding-left: 0px;
	list-style: none;
	padding-top: 0px;
	padding-bottom: 0px;
}
.links  {
	/*font-family: Arial, Helvetica, sans-serif;*/
	color: #39373a;
	/*color: ##0A2945;*/
	/*font-size: 12px;*/
	font-weight: normal;
	text-decoration : none;
}

.linkInterno {
	color: #2D8F13;
	text-decoration : none;
}

 .links:hover, .linkInterno:hover, .linksQuest:hover{
   text-decoration : underline;
   
}

.txtImg, .lsCnt  {
	/*font-family: Arial, Helvetica, sans-serif;*/
	color: #0A2945;
	/*font-size: 116%;*/
	font-weight: normal;
	text-decoration : none;
	vertical-align: top;
}

.txtImg{
	font-size: 116%;
}

.lsCnt H2{
	font-size: 146.5%;
	font-weight: bold;
}

.hrCnt {
	width: 1px solid;
	/*color: #e7e8d6;*/
	color: #ffffff;
}

.tituloCnt {
	/*font-family: Arial, Helvetica, sans-serif;
	font: helvetica,arial,clean,sans-serif;*/
	
	color: #0A2945;
    float: left;
    font-size: 31px;
    width: auto;
	
	/*font-size: 22px;*/
	font-weight: normal;
}
.tituloMenu {
	/*font-family: Arial;*/
	color: #0A2945;
	/*font-size: 18px;*/
	font-size: 161.6%;
	font-weight: bold;
	vertical-align: bottom;
	right: 30px;
}
.subtituloMenu {
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 13px;
	font-weight: bold;
}

.tituloCnt, .tituloMenu{
	height: 24px;
	vertical-align: bottom;
	text-align: inherit;
}
.lsCnt{
	text-align: justify;
}
.lsCnt H3{
	font-size: 138.5%;
}

.FraseAyuda{
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 100%;
	font-weight: bold;
	color: #2E2F31;
	vertical-align: middle;
	text-align: center;
}
.calltoAction{
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 12px;
	font-weight: normal;
	color: #353D44;
	vertical-align: middle;
	text-align: center;
}
.cierre{
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 0.87em;
	font-weight: normal;
	color: #353D44;
	vertical-align: middle;
	text-align: center;
}

.divMenu {
	/* 
	vertical-align: bottom;
	background-color: #ff0000;
	*/
	height: 35px; 
	width: 150px;
	vertical-align: middle;

	
}

.parentGrid .icePnlGrdCol1 {
	
	/*background-color: #0000ff;*/
	vertical-align: middle;
	height: 30px; 
	width: 230px;
	/*height: 95px; 
	width: 150px;*/
	background-color: transparent;

}

.fondo2{
	background-image: url("../img/difuminado.jpg"); 
	background-position: right;
	background-repeat: repeat-y;
}

.headerHlp{
	font-size: 14px;
	font-weight: bold;
}

.contHlp{
	font-size: 13px;
	font-weight: normal;
}

.fondoBody{
	/*background-color: #ECECE8; */
	
	/*min-height: 680px;*/
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	
	background-image: url("../img/micro-02.png");
	background-repeat: repeat;
	height: auto;
	overflow:auto;
}
.fondoDer{
	background-image: url("../img/micro-01.png");
	background-repeat: repeat-y;
	background-position: right;
	height: auto;
	overflow:auto;
	position: relative; 
	top: 0px;
}
.fondoIzq{
	background-image: url("../img/micro-01-2.png");
	background-repeat: repeat-y;
	background-position: left;
	height: auto;
	overflow:auto;
	position: relative; 
	top: 0px;
}

.fraseCapitulo{
	/*font-size: 25px;
	color: #615d6d;
	font-weight: bold;*/
	width: 100%;
	
	color: #5B6B72;
    font-size: 182%;
    font-weight: normal;
	
}

.selectonemenu{
	font-size: 12px;
}

.gridQuest{
	border-bottom: 1px solid;
	/*color: #e7e8d6;*/
	color: #161e0f;
	padding-bottom: 10px;
}

#preguntas a{
	/*font-family: Arial, Helvetica, sans-serif;*/
	color: #232c1b;
	font-size: 13px;
	text-decoration : none;
	padding-top: 0px;
	padding-bottom: 0px;
}
#preguntas a:HOVER{

	text-decoration : underline;

}

.fuente, .linksQuest, .links, .cierre,
.calltoAction, .FraseAyuda, .subtituloMenu, .tituloCnt,
.tituloMenu, .txtImg, .lsCnt, .headerHlp, .contHlp, .fraseCapitulo, .tituloTree{
	/*font-family: Arial, Helvetica, sans-serif;*/
}

/* +++++++++++++++++++++ 
		header
   +++++++++++++++++++++ */

#menuLogin{
	float: right;
	height: auto;
	overflow: auto;
	margin-right: 15px;
	margin-top: 15px;
	z-index: 2;
}

#logo{
	float: left;
	z-index: 1;
}


.linksMenu{ 
	color: #717070;	
	text-decoration: none;   
}
.linksMenu:hover {  
    text-decoration: underline; 
}  


/* +++++++++++++++++++++++++++++++++ 
		formulario perfil.xhtml
   +++++++++++++++++++++++++++++++++ */


#contenidoPerfil{
	width: 98%;
	height: auto;
	overflow: auto;
	margin-left: 10px;
	border: solid 0px #ccc;
}
#contenidoPerfil #formulario{
	width: 98%;
	height: auto;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}

/* +++++++++++++++++++++++++ */
		vistaPerfil.xhtml
/* +++++++++++++++++++++++++ */
	
#imgPhoto{
	background-color: #7f7f7f;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	width: 130px;
	height: 130px;
}


.nombrePerfil{
	font-size: 2.5em;
}




















