/*header_stylos */

/*de aqui nadamsas difiere el loop top loop_top.jpg */



.header {
	width:100%;
	display:block;
	position:fixed;
	clear:both;
	z-index: 9999998;
	background:#fff;
	background: #fff url(../resources/img/header/loop_top.jpg) repeat-x left top;
	box-shadow: 0px 1px 2px #666;
	display: block;
	 top: 0;
    transition: top 0.2s ease-in-out;
    font-family:'Lato', sans-serif
}

.header_inner {
	width:1024px;
	display:block;
	margin:0 auto;
	position:relative;
	overflow: hidden;
	min-height: 100px;
}

.header_inner > a {
	position:absolute;
	z-index:1;
	left: 1px;
	top: 5px;
	width: 89px;
	display:block;
}
.header_inner > a img{
	width: 96%;
	height:auto; 
}

.header_inner > ol{
	float:right;
	width: 330px;
	display:block;
	margin:6px  0 0;
	clear:both;
}

.ingresar.open_lightbox {
	margin: 0 0px 0 0;
	border-radius: 4px;
}

a.ingresar,  a.requisitos {
	display:block;
	float:left;
	text-align:center;
	margin: 0  0 0 17px;
	/* text-transform:uppercase; */
	color:#fff;
	font-family:'Open Sans', sans-serif;
	font-size: 15px;
	padding: 6px 22px;
	font-weight: 700;
}
 a.ingresar {
	background: #C3BFBF;
}
a.requisitos {	
	background: #a7a6a6;
}
.header ol li.bolsa, .header ol li.ayuda, .header ol li.logout {
	margin: 0 0 0 14px;
	padding:0;	
	float: left;
}
li.logout {
	margin:4px 0 0 0 !important;	
}
.privado li.bolsa{margin: 0 0 0 18px !important;}

.header ol li.ayuda a {
	background:url(../resources/img/header/ayuda_privado.png) no-repeat left top;
}
.header ol li.ayuda a {
	background:url(../resources/img/header/ayuda_privado.png) no-repeat left top;
}
.header ol li.logout a {
    background: #ccc;
    border-radius: 4px;
    color: #fff;
    line-height: 27px;
    padding: 0 22px;


	text-transform:uppercase;
	color:#fff;
	font-family:'Open Sans', sans-serif;
	font-size:14px;

	font-weight: 700;
    
    height: auto !important;
    width: auto !important;
}
.header ol li.bolsa a, .header ol li.ayuda a, .header ol li.logout a  {
	background-size:28px 27px;
	width: 28px;
	height: 27px;
	display: block;
	float: left;
	text-decoration: none;
}
.menu_principal > div {
		
		display:block;
		overflow: hidden;
		position: relative;
		width:100%;
		height:auto;
}
.header ol li a.telefono {
	font-size: 22px;
	color:#fff;
	font-weight: 700;
	margin: 2px 0 0 0;
	display:block;
	float: right;
	letter-spacing: 1px;
	text-decoration: none;
}
.header ol li a.telefono img {
	float:left;
	margin: 1px 12px 0 0;
	width:20px;
}


.usuario, .n_folio,  .ayuda, .logout, .bolsa {
	display:none;
}

.usuario, .n_folio {
	color:#fff;
	font-weight:bold;
	font-size:13px;
	float:left;
	letter-spacing:0;
	text-align:right;
	display:none;
	padding:8px 0 0 0;
}
.usuario {
	width:250px;
}
.n_folio {
	width: 146px;
	border-left:solid 1px #fff;
	margin: 0 0px 0 23px;
}
.usuario span, .n_folio span{
	font-weight:normal;
	margin:0 0 0 5px;
}
.header_inner.privado > ol {
	width: 810px;

	height: 34px;
	margin: 2px 0px 0;
	overflow: hidden;
	padding: 0;
	list-style: none;
}

#header .header_inner.privado > ol {
	width: 778px;
}

.header_inner.privado > ol li {
	float:left;
	margin: 0 11px 0 0;
}

.header_inner.privado > ol li:last-child {

	 margin:0;float: right;}

span.fechaAcesso strong{
    color: #568e3e;

    margin: 0 5px 0 0;
}
span.fechaAcesso{
	margin:10px 0 0;
	display:block;
	
	color: #fff;
	font-weight: 600;
}
.privado .usuario, .privado .n_folio,  .privado .ayuda, .privado .logout,  .privado .bolsa {
	display:block;
	/* display: none; */
}
.privado  .ingresar_lista, .privado  .requisitos_lista{
	display:none;

}
.header_inner.privado .ingresar, .header_inner.privado .requisitos{
	display:none;
	
}
.media {
	display:block;
	float: right;
	width: 162px;
	margin: 28px 0 0 0;
	clear: right;
	opacity: 0;
}
.header_inner.privado .media{
	 margin: 0px 0 0 0;
}
.media ul{
	width: 100%;
	float: right;
	display:block;
	padding: 0px 0 0px;
}
.media ul li  {
	width: 16px;
	height: 16px;
	display:block;
	float:left;
	margin: 0 12px 0 0;
}
.media ul li.siguenos  {
	display:none !important;
}
.media ul li:last-child{
	margin:0;
}
.media ul li a {
	width:100%;
	height:27px;
	display:block;
	background-size:contain;	
}
.media ul li a i {
	font-size: 19px;
	color: #BEB6B6;
	
}
.menu_principal {
	float: right;
	width: 659px;
	margin: 18px 0 0px;
}

.menu_principal > div > ul li {
	float:left;
	padding: 0 0;
	display: block;
}

.menu_principal ul li a  {
	color:#24282b;
	padding: 7px 25px 8px;
	display:block;
	margin: 0 0px 0 0;
	font-size: 17px;
	font-weight: 400;
}
.menu_principal ul li a.active  {
	color: #fff;
}
.menu_principal ul li a span {
	font-size:12px;
	display:block;
	width:100%;
	clear:both;
	color: #8FC450;
	margin: 3px 0 0 0;
	line-height: 12px;
	text-align: right;
}

.menu_principal h6 {
	background: #333;		
	width: 39px;
	display:none;
	/* background-size: 23px 23px; */
	color: #8FC450;
	font-size: 32px;
	/* line-height: 32px; */
	/* text-align: center; */
		
	/* vertical-align:middle; */
}

.menu_principal h6 i{
	vertical-align:middle;

	margin: 0;
	padding: 0;
}
.push_header {
	top:0;
	position:relative;
	height: 100px;
	/* display: none; */
	width:100%;
}
.push_header.interior {
	/* display:none; */	
}

.header_inner.privado {
	overflow:visible;
}



.privado .menu_principal ul{ 
float:right;
	
width: 83%;
}
.privado .menu_principal {
	width: 204px;
	/* margin: -2px 0px 0 0; */
	overflow: visible;
}
.privado .menu_principal ol{
	display:none;

}
.privado .menu_principal article {
	text-align: left;

	position: relative;
	width: 100%;
	line-height: 21px;
	height: 40px;
	overflow: hidden;
	cursor: pointer;
}

.privado .menu_principal article figure{
	width: 33px;
	height:auto;
	float: left;
	margin: 0 6% 0 0;
}
.privado .menu_principal article span{
	font-weight:600;
	font-size:15px;

	height: 15px;
	display: block;
	overflow: hidden;
	margin: 0;
	line-height: 14px;
	width: 136px;
}

.privado .menu_principal article small{
	color:#666;
	font-size:12px;
}

.privado .menu_principal article figure img{
	width:100%;
	height:auto;
}

.privado .menu_principal article i{
	top: 0;
	left:auto;
	right: 0;
	bottom:auto;

	display: block !important;
	color: #fff;
	font-size: 24px !important;
	vertical-align: middle;
	position: absolute;
	padding: 1px 3px  1px 3px;
	border-radius: 4px;
	background: #8FC450;
	border-bottom: solid 2px #439539;
	height: 20px;
	width: 15px;
}


.privado .menu_principal article i.fa-rotate-180{
		border-bottom:0;
	border-top: solid 2px #439539;
		vertical-align: middle;
		line-height: 20px;
}
.privado .media ul{
	width: 200px;
	float: right;
	display:block;
	padding: 30px 0 0px;
	display: none;
}


.privado  .menu_principal > div {
	overflow: visible;

}

.privado .menu_principal > div > ul {
	position:absolute;
	z-index:9999;
	top: 46px;
	right: 0;	
	display: none;
	border: solid 1px #ccc;
	padding: 0;
	margin: 0;
}

.privado .menu_principal > div > ul li {
	float:none;
	padding: 0 0;
	display: block;
}

.privado .menu_principal > div >  ul li a  {
	color:#24282b;
	padding: 10px 12px 11px 13px;
	display:block;
	margin: 0 0px 0 0;
	font-size: 15px;
	background-color: #fff;
	color: #666;
	text-decoration: none;
}


.privado .menu_principal ul li.menu-4 a {
	/* padding: 15px 24px 0px 16px; */
}


.privado .menu_principal ul li.menu-5 a {
}
.privado .menu_principal ul li a.active  {
	background: #ccc;
}
.privado .menu_principal ul li a.nuestro_blog.active{
	/* background:#538b39 url(../resources/img/header/external2.png) no-repeat 96% 18px; */
}

.noCliente .fechaAcesso {
	opacity:0;
}

.kubo_container.activa .noCliente .fechaAcesso {
	opacity:0 !important;
}

.noCliente .privado .menu_principal article small {
	display:none;
}

.header_inner  .logoEscritorio {

}
.header_inner .logoMobile {
 	display:none;
}



.whatsapp{
width: 29px;
height:auto;
display: block;
clear: both;
float: left;
}


.whatsapp img{
	width:100% !important;
	height:auto;

}

.whatsappCelda {
	display:none;
}



@media (max-width: 1024px) {
	.header {
	width: 100%;
	margin: 0 0%;
	
}
	.header_inner {
	width: 96%;

} 
}
@media (max-width: 990px) {


.media {
	margin: 28px 0 0 0;
	padding:0;
}
.media h2{
	width: 100%;
	float:right;
	clear:both;
	background:none;
	text-align:right;
	font-size:18px;
}
.media ul{
	float:right;
	clear:both;
	margin: 0px 0 0 0;
	padding: 0;
}

.menu_principal {	
	float:right;
	width: 562px;	
	margin: 19px 0 0px;
}


.privado .menu_principal {
}


.menu_principal ul li a  {
	padding: 8px 16px 8px;
	margin: 0 0px 0 0;
	font-size: 15px;
}


.menu_principal ul li a span {
	font-size: 11px;
}


.header_inner  {
	min-height: 101px;
}

.header_inner > a {
	left:0;
	top:0;
}
/*V1
.push_header {
	height: 150px;
}*/
.push_header {

	height: 100px;

}
}


@media screen and (min-width: 867px)   { 
.menu_principal ul li a.active  {
	color: #538b39;
	font-weight: 600;
}


}


@media screen and (max-width: 867px)   { 
	
.whatsappCelda {
	display:block;
	margin: 0 8px 0 0 !important;
}
.noCliente .fechaAcesso {
	opacity:1;
	display:none;
}
.header_inner  .logoEscritorio {
display:none;
}
.header_inner .logoMobile {
 	display:block;
}


.privado .menu_principal {
	width:675px;
	/* margin: 0px 0 0; */
}
.privado .twitter a {
	background:url(../resources/img/header/twitter_privado.png) no-repeat left top;


}
.privado  .facebook a{
	background:url(../resources/img/header/facebook_privado.png) no-repeat left top;
}
.privado .linkedin a{
	background:url(../resources/img/header/linkedin_privado.png) no-repeat left top;
}
.privado  .googleplus a{
	background:url(../resources/img/header/google_privado.png) no-repeat left top;
}
.privado  .pinterest a {
	background:url(../resources/img/header/pinterest_privado.png) no-repeat left top;
}

.privado  .instagram a{
	background:url(../resources/img/header/instagram_privado.png) no-repeat left top;
}



.header_inner.privado ol li.usuario{ 
	background:url(../resources/img/header/user.png) no-repeat left top;
	padding: 8px 0 8px 25px;
	text-align:left;
	background-size:20px 20px;
	width: 100%;
	margin: 0px 0 7px;
	width: 54%;
	display:block;
	overflow:hidden;
}
.header ol li.ayuda, .header ol li.logout {
    margin: 0;
    display: none;
}
.header ol li.ayuda a, .header ol li.logout a {
	background-size:35px 35px;
	width:35px;
	height:35px;
	display:block;
} 

.header ol li.ayuda {
	margin:0;
}

.header_inner.privado .n_folio {
	display:none;
}
.privado .menu_principal article {
	color:#fff;
	margin: 0 0 10px;
}

.privado .menu_principal article span {
	width:auto;

}

.header_inner.privado > ol li {
	float: none;
	margin: 0 0 0 0;
}

span.fechaAcesso {
	margin:0 0 12px;
}
span.fechaAcesso strong{
	display:block;
	margin:0 0 5px;

}

.privado .menu_principal article i{
	display:none !important;
}

.privado .menu_principal article small{
	color:#ccc;
}
.header_inner > ol {
	overflow:hidden;
	display:block;
	margin: 5px 38px 0 0 !important;
	width: 107px !important;
	float: right;
}


.header_inner.privado > ol  {
	overflow:hidden;

	display:block;
	width: auto;
	float: right;
}
.header_inner.privado div > ol  {
	overflow:hidden;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
.header ol li.bolsa {
	margin: 0 0 0 21%;
}
.header_inner.privado ol li.usuario strong{
	display:none;	
}
.menu_principal {
		position: absolute;
		top: 0;
		right: -212px;		
		width: 248px !important;
		height: 39px;
		overflow: visible;
		z-index: 99999999;
		margin: 0;
		overflow: visible;
		/* margin: 0; */
}
.ingresar_lista {
	width: 104px;
	float: left;
}

.ingresar.open_lightbox {
	width: 100%;
	padding:7px 0;
}
	.menu_principal > div {
		background:#333333;
		display:block;
		overflow: hidden;
		position: relative;
		z-index: 999999;
		width: 171px;
		top: 0px;
		left: 0px;
		padding: 11px 8%;
		z-index:99999999999999;
	
		height: auto;
		
		float: right;
}
	.menu_principal  div > ul {
		overflow: hidden;
		margin:10px 0 0;
		display:block;
}	

.privado .menu_principal > div > ul{ 
float:none;
	
position: relative !important;
top: auto !important;
width: auto;
display: block !important;
margin: 0;
padding: 0;
clear: both;
border: none;
}
.menu_principal > div > ul {
	margin:10px 0 0;
}
	.menu_principal > div > ul li {
		float: none !important;
	
		margin: 0;
}
	
	

	
	.menu_principal  div ul li.menu-4 a {
		border-bottom:none;
	
	}
	.menu_principal  ul li  a {
		color:#fff;
		padding: 10px 0;
		background-color: transparent !important;
	
		
}
	.menu_principal > div > ul li + li a {
		
		
	}
	.menu_principal ul li  a.nuestro_blog {
		padding: 10px 14px 10px 0px;
	}
	.header_inner {
		overflow:visible;
	
		height: 111px;
	
		position: absolute;
		z-index: 99;
		padding: 0;
		width: 100%;
}

	.header_inner {

		background: #fff url(../resources/img/header/loop_top.jpg) repeat-x left top;
	
		

		height: 39px;
		min-height: inherit;
}
	
	.media h2 {
		display:none;
		
	}
	.media ul{
		width: 100%;
		float:none;
		clear:both;
		margin: 15px 0 0 0;
		padding: 0;
		overflow: hidden;
	}	
	.media ul li.siguenos{
		display:none;
		
	}
	.menu_principal .media ul li {
		float:left;
		clear:none;
		width: 26%;
		height: 35px;
		margin: 0 16px 0px 0;
}

	.menu_principal div .media ul li a { 
		background-size: 25px 25px;
	
		margin: 0;
		padding: 0;
}

.menu_principal div .media ul li a i{
	font-size: 22px; 
	
}
	.menu_principal ul li a span {
	display:none;
}

	.media {
		float:none;
		width: 100%;
		clear:both;
		margin: 1px 0 0 0;
		padding:0;
	}
	.menu_principal .media ul li.bolsa {
		display:none;
	}
	.media ul li  {
		
		margin:0 0px 0 0;
}
.menu_principal div.media .linkedin, .menu_principal div.media .instagram {

	margin:0 ;
}
a.ingresar,  a.requisitos {
	font-size: 15px;
	width:100%;
	margin:0  0 10px 0px;
	font-weight: 500;
	float: none;
}

.header ol li a.telefono {
	margin: 3px 0 0 0;
	width: 28px;
	float: right;
	margin: 0 0px 0 0;
	overflow: hidden;
	border: 1px #fff solid;
	height: 28px;
	border-radius: 4px;
	display: none;
}

.menu_principal h6 {
	display:block;
	margin: 0;
	padding: 0;
}
.header .header_inner .menu_principal h6.open {
	display: block;
}

.header {
	width: 100%;
	margin: 0 0% 0 0;
	
}
.header_inner > a {
	left: 2.5%;
	top: 10px;
	width: 152px;
	line-height: 20px;
}
.header_inner h2 {
	display:none;
}
.push_header {
	top:0;
	position:relative;
	height:39px;
	width:100%;
}
.push_header.interior {
	height: 39px;
}
.menu_principal h6.close{
	display:none;
}


.privado .menu_principal ul li.menu-4 a {
	padding: 12px 20px 10px 0px;
}


.privado .menu_principal ul li.menu-5 a {
	padding: 12px 20px 12px 0px;
}

.privado .menu_principal ul li a.nuestro_blog  {
	background: url(../resources/img/header/external2.png) no-repeat 96% 18px;
}


.privado .menu_principal > div > ul li  a  {
	color:#24282b;
	padding: 10px 10px 10px 0px;
	display:block;
	margin: 0 0px 0 0;
	font-size:16px;
	background-color:transparent !important;
	color:#fff;
	height:auto;
	border-right: none;
}
.privado .menu_principal > div > ul li  a br{
	display:none;
	
}

.header {
	display:none;
}
}



@media (max-width: 550px) {
.header_inner {
	position:fixed;
	/* height: 72px; */
}
.header_inner.privado ol  {
	overflow:hidden;

	display:block;
}
.header_inner.privado ol .telefono {
}
.push_header {
	/* display: none !important; */
	height: 38px;
}
.header {
		width:100%;
		margin:0;
	}


}

@media (max-width: 400px) {
.header_inner > ol{	
		width:70%;


	}

.header_inner > a {
}
.header_inner h2 {

	left: 79px;
	padding: 0 0 0 0px;
	

	font-size: 14px;


	letter-spacing: 0;

}
}


.kubo_container.activa .menu_principal, .kubo_container.activa .header_inner > ol li a, .kubo_container.activa .header_inner > ol li.usuario, .kubo_container.activa .header_inner > ol li.n_folio, .kubo_container.activa .header_inner > ol li.n_folio{
	display:none !important;
}


.kubo_container.activa .header_inner > ol li a.telefono{
	display:block !important;

}


.privado.inversionistas .menu_principal ul li a.active  {
	background:#91c63a;
}

.privado.mesa_control .menu_principal ul li a.active  {
	background:#015ea6;
}
.fa.fa-phone {
	color: #cadc2d;
	font-size:25px;
	font-weight:600;
	margin: 0 1px 0 0;
}

@media (max-width: 1024px) {
.inner_block {
	width:96%;

}
}


/*titulo*/

.titulo {
	background:#a7a6a6;
	padding: 15px 0;
}
.titulo h2 {
	color:#fff;
	font-size:44px;	
	width:1024px;
	display:block;
	margin:0 auto;
	letter-spacing:-1px;
	font-weight: 400;
}
.titulo.consulta h2 {
font-size:40px;
}

@media (max-width: 1024px) {
.titulo h2 {
	font-size:36px;	
	width:96%;
	margin:0 2%;
}
}
@media (max-width: 867px) {
	.fa.fa-phone {
		color: #fff;
		font-size: 21px;
		font-weight:600;
	
		display: block;
		line-height: 38px;
}
#header .header_inner.privado > ol {
	width: auto;
}
#header .header_inner h6 {
	margin:4px 0 0;
}

}
@media (max-width: 850px) {
	.col_derecha {
		width:100%;
	}
	.titulo {
		padding:11px 0;
		margin: 0px 0 0px 0;
	}
.titulo h2 {
	font-size:25px;	
	width:96%;
}

}


/*aquiTerminaHeaderStyles*/


.telefono small{
	font-weight:400;
	margin:0 4px 0 0 ;

	font-size: 21px;
}

.velo2 {
	width:100%;
	height: 160%;
	display:none;
	position: fixed;
	background: rgba(255,255,255,.7);
	z-index: 9999999;
	top: 0;
	left: 0;
}

.alerts.cerrarSesion p{
	margin: 0 0 15px !important;

}
.alerts.cerrarSesion nav{
	overflow:hidden;
	width: 212px;
	margin:0 auto;
}

.alerts.cerrarSesion nav a{
	float:left;

	margin: 0;
	text-decoration: none;
	width: 48%;
}
.alerts.cerrarSesion .btnNaranja{
	float:right;
}

@media (min-width: 1025px) {
	.privado .menu_principal ul li a:hover  {
		background: #ccc;
	}
	.header ol li.logout a:hover {
		background:#cadc2d;
	}
	.alerts.cerrarSesion nav a:hover {
		background:#cadc2d;
		color:#fff;
	}
}

@media (max-width:650px) {
.alerts.cerrarSesion {
	width:84% !important;
	padding: 20px 4%;
	left: 4% !important;
}
}

#general fieldset.conjunto2 {
	clear:both;
}

.accesoN {
	color: #ccc;
	position: absolute;
	right: 350px;
	top: 5px;
	width: 100px;
	cursor: pointer;
	overflow: hidden;
	z-index: 9;
}

.accesoN small{
	font-size: 20px;
	float:left;
	display:block;
	font-weight:500;
	text-decoration:underline;
	cursor: pointer;
}
.accesoN i{
	font-size: 30px;
	float:right;
	display:block;
}

@media (max-width:870px) {
	.accesoN {
		display:none;
	}
}