@CHARSET "UTF-8";
body{
	background-image: url("../img/fondoQuest2.png");
	background-repeat: repeat;
}
.contHlp{
	font-size: 1.1em;
	text-align: justify;
}

.headerHlp{
	font-size: 1.2em;
	font-weight: bold;
	text-align: justify;
}

.contHlp, .headerHlp{
	color: #333333;
}

.contHelp{
	width: 80%; 
	margin: 20px auto auto auto; 
	text-align: justify;
	border: solid 6px #404040;
	background-color: #FAFAFA;
	padding: 12px 12px 12px 12px;
}