@CHARSET "UTF-8";

.textHelNeueBold{
	
	font-family: "Helvetica_Neue_IE","Helvetica_Neue",'Roboto Condensed'; 
   
}
.textHelNeueLight{
	
	font-family: "Helvetica_Neue_Lt","Helvetica_Neue_Lt_IE" , 'Open Sans Condensed' ; 
   
}

#fraseGral{
	height: 25px;
	background-color: #ececee;
	color: #ff6405;
	margin: 0px 0px 0px 0px;
	padding-bottom: 5px;
	padding-top: 6px;
	padding-left: 30px;
	font-size: 1.3em;
}

#fraseGral2{
	width: 85%;
	text-align: right;
	margin-left: auto;
	margin-right: auto;
	font-size: 2.8em;
	color: #333333;
}



#frase1{
	font-size: 4.1em;
	font-weight: bold;
	color: #333333;
	display: none;
	margin: 8px 0px 0px 0px;
	float: left;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#frase2{
	font-size: 2.3em;
	font-weight: bold;
	color: #333333;
	display: none;
	margin: 24px auto 0px 15px; 
	float: left;
}

#contFrases{
	
	width: 728px; 
	height: 110px; 
	overflow:hidden; 
	position: absolute; 
	z-index: 4; 
	padding-top: 15px;

	}
	
.butMenu{
	
	display: none;
	
}

#frase01{
	/* text-shadow: -0.03em -0.03em 0.04em #888;*/
	text-shadow: 0.04em 0.04em 0.08em #666 !important;
	/* text-shadow: 1px 1px 5px #000000; */
	/* text-shadow: -0.04em -0.04em 0.08em #888;*/
	color: #FFFFFF;
	font-family: "Helvetica_Neue_IE","Helvetica_Neue",'Roboto Condensed', Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 33.5pt;
	text-rendering: optimizeLegibility;
	z-index: 4; 
}
#frase02{
	font-family: "Helvetica_Neue_Lt","Helvetica_Neue_Lt_IE",'Open Sans Condensed',  sans-serif;
	margin-top: 9px;
	color: #FFFFFF;
	font-size: 27pt;
	line-height: 50px;
	/* text-shadow: -0.04em -0.04em 0.08em #888; */
	text-shadow: 0.04em 0.04em 0.08em #666 !important;
	text-transform: uppercase;
	z-index: 4;
}

.shadowletter{
	font-size: 11.3pt; 
}
.shadow{
	
}

#contVideoAndSim{
	height: auto;
	overflow: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	min-height: 350px;
	margin-top: 14px;
}

#contVideoAndFraseWMax,#contVideoAndFraseWMin{
	clear: both;
	height: auto;
	overflow: hidden;
	float: left;
	width: 209px;
	height: auto;
	margin-bottom: 30px;
	margin-left: 93px;
	border: solid 0px #000000;
}
#contVideoAndFraseWMin{
	margin-bottom: 25px;
	display: none;
}
#dvVideo{
	clear: both;
	width: 209px;
	height: 116px;
	overflow: hidden;
	margin-top: 0px;
	/* padding: 2px 2px 2px 2px; */
	/* background-color:  rgba(255, 255, 255, 0.6); */
}

#fraseInner1{
	font-weight: normal;
	text-align: right;
	padding-top: 20px;
}

#fraseInner2{
	font-weight: bold;
	text-align: right;
	padding-top: 20px;
}

#dvFrase{
	clear: both;
	height: 110px;
	overflow: auto;
	border-left: solid 6px #C1D82F;
	border-right: solid 6px #C1D82F;
	margin-right: 2px;
	padding-right: 5px;
	li
}

#content{
	height: auto;
	overflow: auto;
	width: 100%;
	border: solid 0px #000000;
	margin-left: auto !important;
	margin-right: auto !important;
	/* padding-top: 25px; */
	padding-bottom: 9px;
}

#content #cont{
	/*width: 950px;*/
	/* padding-top: 24px; */
	height: 87px;
	overflow: auto;
	margin-top: 0px;
	margin-left: 92px;
			
	/* border: solid 1px #000000; */
}

.cont-sim-complete{
	height: auto;
	overflow: auto;
	width: 543px;
	position: absolute;
	left: 243px;
	padding: 2px;
	/* top: 322px; */
	top: 260px;
	margin-left: 0px;
	/*font-size: 1.2em;*/
	margin-bottom: 20px !important;;
}

#cont-sim{
	height: auto;
	overflow: hidden;
	margin: 0px 0px 00px 0px;
	padding: 6px 6px 6px 6px;
	/* background-image: url("../../resources/img/backWhiteTrans.png"); */
	background-color:  rgba(255, 255, 255, 0.6);
	/* background-repeat: repeat; */
	position: relative;
	border: solid 0px #D6D6D6;
}

#meta-sim, .meta-sim002{
	width: auto;
	/* background-color: #bce053;
	background-image: url("../img/nivo/fondo-sim-1.jpg");
	background-position: left bottom;
	background-repeat: no-repeat; */
	
	background-color: #C1D82F;
	border: solid 0px #D6D6D6;
	
	height: auto;
	overflow: hidden;
	/* padding: 10px 20px 20px 20px; */
	margin-left: 0px;
	/* border: solid 1px #8fbd04; */
	border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
}

.meta-sim002{
	background-color: #FFFFFF !important ;
}


#meta_img{
	height: auto;
	overflow: auto;
	position: absolute;
	left: 0px;
	top: 10px;
	z-index: 4;
}

.meta-sim002 #titulosim, #meta-sim #titulosim{
	
	/*margin-bottom: 15px; 
	margin-top:0px; 
	margin-left: auto;
	margin-right: auto;*/
	color: #000000; 
	/*background-color: #000000;*/ 
	width: auto; 
	padding-bottom: 8px; 
	padding-top: 8px;
	border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 3px 0px 0px;
    margin-top: 15px;
}

.meta-sim002 #titulosim{
	top: 10px;
}

#meta-sim #contFormSim{
	margin-top: 60px;
}

span#valor{
	font-weight: bold;
	color: #000000;
	font-size: 1.3em;
}

span#sim{
	color: #333333;
	font-size: 30pt;
	margin-top: 10px;
	padding-top: 10px;
}

.quest_sim{
	font-size: 13pt !important;
}

#general{
	height: auto;
	overflow: auto;
	margin-top: 20px;
}

#descripciones{
	height: auto;
	overflow: auto;
	margin: 20px auto 20px auto;
	width: 80%;
	padding-left: 100px;
}

#queeskubo{
	margin-right: 8px;
	
}

#queeskubo, #comotrabaja{
	float: left;
	width: 40%;
	min-height: 285px;
	border: solid 1px #d6d6d6;
	background-color: #e6e6e6;
	padding: 20px 20px 20px 20px;
	font-size: 1.6em;
	color: #ff6405;
	font-weight: bold;
}

.simulatorAction{
	color: inherit;
	text-decoration: none;
}

.sim-back02{
	display: inline; 
	border-left: 65px solid transparent;
	border-top: 65px solid rgba(255, 255, 255, 0.6);
	float: left;
	position: relative; 
	top: 350px;
	height: 0;
	width: 0;
	right: 0px;
}

.contFormAllSim{
	width: auto; 
	margin-left: 3px !important; 
	border: solid 0px #000000;
}

.btnRegSim{
	position: relative !important; 
	margin-left: auto; 
	margin-right: auto;   
	padding-left: 0px; 
	font-size: 1.4em;
	width: 95%;

}


.btnRegSim a{
	color: #000000 !important; 
	text-decoration: none !important;	
}

.contLabel{
	
	margin-top: 5px; 
	width: 270px;
	
}

#questKubo{
	display: none;
}

.white{
	color: #FFFFFF !important;
}
.green1{
	color: #439539 !important;
}
.green2{
	color: #C1D82F !important;
}
#videoandfraseKubo{
	display: none;
}
.transparent {
		
	/* Theoretically for IE 8 & 9 (more valid) */	
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=70);
	
	/* Older than Firefox 0.9 */
	-moz-opacity:0.7;
	
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.7;
    
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.7;
}
.transparent2 {
		
	/* Theoretically for IE 8 & 9 (more valid) */	
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=64);
	
	/* Older than Firefox 0.9 */
	-moz-opacity:0.64;
	
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.64;
    
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.64;
}

#thisProperties{
	display: block;
	z-index: 6;
}
