@CHARSET "UTF-8";
h2.expand_heading {
   	background: #4ca330;
    float: left;
    font-size: 1em;
    font-weight: normal;
    height: 38px;
    margin: 0 0 5px;
    padding: 0 0 0 20px;
    width: 480px;
    height: 25px;
    border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}
.expand_all
{
cursor:default;
}
h2.expand_heading a {
    color: #fff;
    text-decoration: none;
    float: left;
    display: block;
}
h2.expand_heading a:hover {
    color: #ccc;
}
 
h2.active {
	background-position: left bottom;
	}
.toggle_container {
    margin: 0 0 5px;
    padding: 0;
    border: 1px solid #d6d6d6;
    background: #ffffff;
    overflow: hidden;
    width: 500px;
    clear: both;
}
.toggle_container .box {
    padding: 9px;
}
.toggle_container .box p {
    padding: 5px 0;
    margin: 5px 0;
}
.toggle_container h3 {
    font: 2.0em normal Georgia, "Times New Roman", Times, serif;
    margin: 0 0 5px;
    padding: 0 0 5px 0;
    color:#000000;
    border-bottom: 1px dotted #ccc;
}
.toggle_container img {
    float: left;
    margin: 10px 15px 15px 0;
    padding: 5px;
    background: #ddd;
    border: 1px solid #ccc;
}
.expand_all
{
width:116px;
height:29px;
background:url("../../resources/img/extra_buttons.png") no-repeat top left;
float: left;
cursor: pointer;
margin: 5px 0px 10px;
}
.expanded
{
background-position:bottom left;
}

.expand_heading .collapse.change {
    background-position: 0 0;
}

.expand_heading .collapse{
	background: url("../../resources/img/collapse.png") no-repeat scroll 0 -14px transparent;
	float: right;
    height: 14px;
    margin: 4px;
    text-indent: -9999px;
    width: 10px;
}

.expand_heading .collapse.activo {
    background-position: 0 0;
}

.arrow_leftHelp {
    background-image: url("../../resources/img/arrow_left.gif");
    background-position: left top;
    background-repeat: no-repeat;
    height: 23px;
    left: -12px;
    position: absolute;
    top: -10px;
    width: 10px;
    z-index: 101;
}

		.watermark 
 		{
 			color: #333 !important;
			opacity:  0.5 !important;  /* FF sets opacity to 0.54 by default */
 		}
 
	    #mapa  
	    {
			display:block !important;
			position:relative !important;
			left:auto !important;
			top:auto !important;
		}

		 #mapa .blindAction 
		 {
			top: 30px !important;
			right:30px !important;
			z-index:9;
			display:none;
		}  
