@CHARSET "ISO-8859-1";

.iceOutProgBg {
	height:15px;
	width:180px;
	padding-top: 0px;
	padding-left: 0px;
}
.iceOutProgFill{
	margin-top: 0px;
	margin-left: 0px;
	background-color: #a7cd84;
	background-image: none;
}
.iceOutProgTxt{
	font: 13px/1.231 helvetica,arial,clean,sans-serif;
	font-weight: normal;
	
}
#proyectos{
	margin-top: 15px;
	height: auto;
	overflow: auto;
	width: 214px;
	margin-bottom: 15px;
	margin-left: 10px;
}
#proyecto{
	background-color: #f3f3f3;
	width: 210px;
	height: auto;
	overflow: visible;
	padding-left: 0px;
	position: relative;
}
#imagen{
	margin-top: 5px;
	background-color: #FFF;
	width: 200px;
	height: 200px;
	opacity:1.0;
	filter:alpha(opacity=100);
}

#tipo{
	width: 210px;
	height: 40px;
	
	position: absolute;
	z-index: 3;
	left: 0px;
	top: 180px;
	right: auto;

}
#contTipo{
	position: relative;
	z-index: 5;
	height: auto;
	overflow: visible;
	opacity:1.0;
	filter:alpha(opacity=100);
	top: -14px;
}
#titTipo{
	font-size: 120%;
	font-weight: bold;
	color: #E6E6E6;
	position: absolute;
	top: 0px;
	left:52px;
	opacity:1.0;
	filter:alpha(opacity=100);
}
#imgTipo{
	position: absolute;
	top: -6px;
	left: 15px;
	opacity:1.0;
	filter:alpha(opacity=100);
}
#insignia{
	width: 30px;
	height: 30px;
	/*background-color: #ff0000;*/
	/*background-image: url("../../resources/img/Bookmarks-64.png");*/
	position: absolute;
	z-index: 100;
	right: 1px;
	top: 0px;
	left: auto;	
}

#calif{
	background-color: #ffffff;
	width: 35px;
	height: 21px;
	position: absolute;
	z-index: 100;
	right: 5px;
	top: 159px;
	left: auto;	
}
#backCalif{
	background-color: #fbe5da;
	width: 210px;
	height: 21px;
	position: absolute;
	z-index: 98;
	right: 0px;
	top: 159px;
	left: auto;
	text-align: right;
}
#contCalif{
	position: absolute;
	z-index: 99;
	right: 50px;
	top: 160px;
	left: auto;
	text-align: right;	
	
}

.rosa{
	background-color: #e0184c; /*rosa*/
	
}
.azul{
	background-color: #06368f;	
}
.morado{
	background-color: #8a068f;
}
.verde{
	background-color: #0b7c2e; /* verde */
}
.default{
	background-color: #262626; /* gris */
	color: #000000;
}
#descripcion{
	/*background-color: #aaa;*/
	width: 200px;
	height: auto;
	overflow: auto;
	margin-bottom:5px;
}

#descCont{
	margin-top: 23px;
	height:150px;
	width:95%;
}

#descTitulo{
	font-size: 115%;
	font-weight: bold;
	color: #e0184c;
	margin-left: 4px;
	margin-top: 19px;
}
#descAutor{
	font-size: 65%;
	color: #444;
	margin-left: 4px;
}
#descAutor span{
	color: #e0184c;
}
#descAutor span:hover{
	text-decoration: underline;
	cursor: pointer;
}
#descDesc{
	color: #444;
	text-align: justify;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 8px;
	font-size: 90%;
}
#descPorc{
	width: 95%;
	margin-left: 8px;
	margin-bottom: 4px;
}
#descripcion,#imagen,#proyecto,#descCont{
	margin-left: auto;
	margin-right: auto;
}

#proyecto, #imagen, #descripcion{
			
			border-radius: 5px;
			-ms-border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-khtml-border-radius: 5px;
		}

#datosProy{
	width: 100%;
	margin-top: 4px;
}
.columnDatosProy{
	padding-left: 8px;
	text-align: center;
}

.datosProy{
	width: 211px;
	
	border-top: solid 1px #999999;
}
.datosProy{
	font-size: 0.77em;
	color: #333333;
	font-weight: normal;
}
#proyecto{
	border: solid 1px #999999;
}

.show{
	display: block;
}
.oculto{
	display: none;
}

/* ************************************ */


span.A {
    background: url("../img/portfolioManagementsprite.png") no-repeat scroll -59px -71px transparent;
}
span.B{
	background:url(../img/portfolioManagementsprite.png) transparent -116px -71px no-repeat;
}
span.C{
	background:url(../img/portfolioManagementsprite.png) transparent -174px -71px no-repeat;
}
span.D{
	background:url(../img/portfolioManagementsprite.png) transparent -404px -71px no-repeat;
}
span.E{
	background:url(../img/portfolioManagementsprite.png) transparent -231px -71px no-repeat;
}
span.F{
	background:url(../img/portfolioManagementsprite.png) transparent -289px -71px no-repeat;
}
span.G{
	background:url(../img/portfolioManagementsprite.png) transparent -351px -71px no-repeat;
}
span.gradeText,span.gradeText2L,span.gradeTextWide,span.gradeTextWideAA{
	color:white;
	display:block;
	float:left;
	font-weight:bold;
	height:21px;
	padding-left:6px;
	padding-top:3px;
	width:21px
	}
span.gradeTextWide{
	padding-left:6px;
	width:29px;
	margin-right:5px
}
span.gradeNumberAA{
	color:#213d56;
	margin-left:2px;
	margin-left:2px
}
span.gradeNumberA{
	color:#6380ad;
	margin-left:8px;
	*margin-left:3px
}
span.gradeNumberB{
	color:#6cc2d7;
	margin-left:8px;
	*margin-left:3px
}
span.gradeNumberC{
	color:#6cae32;
	margin-left:8px;
	*margin-left:3px
}
span.gradeNumberD{
	color:#89d917;
	margin-left:8px;
	*margin-left:3px
}
span.gradeNumberE{
	color:#f7e520;
	margin-left:8px;
	*margin-left:3px
}
span.gradeNumberF{
	color:#fdc328;
	margin-left:8px;
	*margin-left:3px
}
span.gradeNumberG{
	color:#ff9807;
	margin-left:8px;
	*margin-left:3px
}
.rate{
	color:#666;
	margin-left:-5px;
	font-size:108%;
	font-weight:bold
}
.yui-dt-liner .loanTypeAndLength{
	text-align:center;
	float:left;
	width:38px;
	font-size:100%;
	margin-top:1px
}
.ficoDisplay{
	display:block;
	margin-top:1px;
	*padding-top:1px;
	width:60px;
	color:#666;
	font-size:100%
}
div.timeDisplay{
	display:block;
	margin-top:1px;
	font-weight:bold;
	font-size:100%;
	color:#666;
	text-align:center
}
.browseNotesStrong{
	float:left;
	width:100%
}
.breakWord{
	word-wrap:break-word
}
.yui-dt-liner .expand-loan-details{
	color:#333;
	font-size:116%;
	text-decoration:none;
	width: auto;
}
.yui-dt-liner .expand-loan-details:hover{
	color:#206dd6;
	text-decoration:none
}
.browseNotesSpan{
	float:left
}
.titleAndPurposeDiv{width:200px}
