#agregaRef {
	width: 280px;
}

.clsCntBtn {
	/* border: solid 0px #548F39; */
	width: 100px;
	height: 34px;
	position: absolute;
	top: 30px;
	right: 0;
}
.clsCntBtn > div {
	margin:0 10px 0px 0;
	float:left;
}
.bloqueReferencia {
	position:relative;
}

.bloqueReferencia > div {
	margin:0 0 5px ;

}


.clsEdirtRefe, .clsDeleteRefe {
	width: 10px;
	padding: 7px 12px 7px 9px;
	border: solid 1px #4CA330;
	border-radius: 3px;
	margin-left: 10px;
	margin-right: 14px !important;
	float: left;
	cursor: pointer;
}

.addReferencia {
	display: none;
}



.elementAddres1 {
	padding: 7px 1%;
	height: 26px;
}

#cancelaRef, #guardarRef {

	width: 200px !important;
	float: left;
	margin-right: 10px !important;
	
}

.clsEditRef, .clsConfirmDelete{

	background-color: #FFFFFF;
	border: solid 4px #439539; 
	width: 480px;
	position: absolute;/* left: auto !important; */
	right: auto !important;
	top: 10px;
	z-index: 99999999;
	display: none;}

.clsEditRefTit{

	color: #439539;
    font-size:17px;
    
    width: 99%;
    margin-left:  auto;
    margin-right: auto;
    
    text-align: center;
    font-weight: bold;
    
    padding: 10px;

}

.velo{

	background-color: rgba(256,256,256,.5);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 10px;
	z-index: 9997;
	display: none;

}

.dvContent2{

	overflow: hidden !important;

} 
.addReferencia  {
	font-size:15px;
	margin: 20px 0 0 0 !important;
}

#pnlContRef input {
	padding: 7px 2% !important;
	border-radius: 5px !important;
	font-weight: 400 !important;
	font-family: 'Lato', sans-serif;
	font-size: 17px  !important;
	height: auto !important;
	margin: 0 !important;
	color:#333;
	width: 324px !important;
}

#pnlContRef .addReferencia input {
	width: 304px !important;
}
#pnlContRef  .selectNuevo {
	border-radius: 5px !important;
	font-weight: 400 !important;
	font-family: 'Lato', sans-serif;
	font-size: 17px  !important;
	height: auto !important;
	margin: 0 0 20px!important;
	color:#333;
	width: 340px !important;
}

#pnlContRef  .selectNuevo select {
	font-size: 17px  !important;
	width: 120% !important;
}
#pnlContRef  .dvLabel {
	clear:both;
	display:block;
	width: 100%;
	text-align: left;
	margin: 0 0 8px;
}
.addReferencia .field {
	margin:0 0 0px !important;
}
.refePerso {
	margin:20px 0;
}

.botonesEliminar {
	overflow:hidden !important;
	margin: 10px 0 10px !important;
}
#cancelaRemRef,  #guardarRemRef, #cancelaEditRef, #guardarEditRef {
	width:16px !important;
	float:left;
	width:160px !important;
}
  #guardarRemRef, #guardarEditRef{

	float:right;
}

.clsConfirmDelete .clslabelRef {
	font-size: 16px !important;
}


.botonesEliminarR {
	overflow:hidden;
}

.clsEditRef {
	top:20px !important;
}