
		.clDescT1
		{
			width: 120px;
					
		}
		
		.clValT1{
			text-align: right;
		}
		
		.clDescTitVT2{
			/* padding-right: 5px; */ 
		}
		
		.clDescTitHT2{
			border: solid 1px #e6e6e6;
		}
		
		.clDescTitVT2{
			/* border: solid 1px #e6e6e6; */
		
			text-align: left !important;
}
		
		.clDescTitVT2,.clDescTitHT2{
			font-weight: bold;
			text-align: center;
		}
		
		.clItemTitT2, .clsRisk, .clsTerm, .clsGender{
			width: 40px;
			height: 20px;
			/* border: solid 1px #e6e6e6; */
			cursor: pointer;
		}
		
		.itemCheck{
			background-color:blue;
		}
		
		.clsLeft{
			text-align: left;		 
		 }

		 .colFiltros {
		 	border: solid 1px #ccc;
		 	padding: 0px 13px 20px;
		 
		 	/* background: #f1f1f1; */
}
		 .colFiltros h3 {
			/* font-weight:normal; */
			margin:0;
			padding: 10px 0;		 	
		 
			border-bottom: solid 1px #ccc;
}
		 .categoriaFiltros {
		 	background-color:#fff;
		 	margin:  0;
		 	padding: 10px 7px;

		 
		 	border: 1px solid #d6d6d6;
		 	font-size: 14px;
}

.categoriaFiltros table{
	width:100%;
	border:none;
	 
}

.categoriaFiltros table td{
    font-weight: 300;


    color: #666;
    padding: 2px 0px;
}
.col_derecha_productos.graficas {
	width:69%;
	
}


.clsTerm, .clsItem, .clsItemDest, .clsGender, .clItemTitT2, .clsRisk{
	width: 40px;
	height: 20px;
	cursor: pointer;
	background: url("../../resources/img/no-check.png") no-repeat center ;
	background-repeat:;
	background-size:18px;
}	
		
.itemCheck {
	background: url("../../resources/img/bullet.png") no-repeat center;
	background-size:18px;
	border: none;
	padding: 8px 0;
}
	

	.grafica {
		width:50% !important;
	
		float: left;
		margin: 0 0 18px;
}

	
.modificarValores {
	display:none;
	margin: 0 0 18px;
}

.cerrarFiltrosInv {
	display:none;
}
@media (max-width: 1024px) {
.grafica {
		width:100% !important;
	
		float: left;
		margin: 0 auto 18px;
}


.grafica > div{
	width:500px !important;
	margin:0 auto;
}
.colFiltros {
	width: 33%;
}
.simInvGrsaficas {
	width: 62%;

}
}

@media (max-width: 768px) {
	.cerrarFiltrosInv {
	display: block;
	background: #568e3e;
	width: 36px;
	height: 37px;
	color: #fff;
	border-radius: 40px;
	text-align: center;
	line-height: 37px;
	font-size: 23px;
	right: -20px;
	position: absolute;
	top: -20px;
}
.grafica > div{
	width:300px !important;
	margin:0 auto;
}
.colFiltros {
	position:absolute;
	top: 24px;
	left: 0;
	z-index: 99999999;
	background:#fff;
	width: 257px;
	left: -311px;
	 	-webkit-transition:.8s;
	-moz-transition:.8s;
	-ms-transition:.8s;
	-o-transition:.8s;
	transition:.8s;
}

.colFiltros.active {
	left:0px;
}
.simInvGrsaficas {
	width: 100%;

}
.modificarValores {
	display:block;
}
}