@CHARSET "ISO-8859-1";



body{
	/* font: 13px/1.231 helvetica,arial,clean,sans-serif; */
	/*font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; */
	
	/*font-family: Arial, sans-serif,  "Lucida Grande", "Lucida Sans Unicode" !important; cambio fuente*/
	/*font-family: helvetica;*/
	letter-spacing: 0px;
	
	
	/*font-size: 13px;*/
	/* font: 13px/1.231 helvetica,arial,clean,sans-serif; */ 
	color: #333333;
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

.clBody{
	/* background-image: url("../../resources/img/fondo001.jpg");
	background-position: 100%;
	background-repeat: no-repeat; */
}

#general{
			width: 99%;
			height: auto;
			margin-top: 0px;
			margin-left: auto;
			margin-right: auto;
			
		}
#header{
	/*height: 180px;*/
	height: auto;
	width: 99%; 
	margin-bottom: 5px;
	margin-top: 0px;
	
}
#content{
		width: 99%;
		/*min-height: 400px;*/
		overflow: auto;
	}
#footer{
		height: auto;
		width: 97%; 
		margin-top: 5px;
	}
	
.InputTexCl{
	font-size: 1.09em;
	font-weight: normal;
	width: 180px;
}

#titulo{
	font-size: 2.09em;
	font-weight: bold;
	width: 180px;
	color: #439539;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
#dialog{
	background-color: #e6e6e6;
	position: absolute; 
	z-index: 2002; 
	top: 60px; 
	right: 10px; 
	display: none;
	border: solid 1px #b6b6b6;
	padding: 10px 10px 10px 10px;
	border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
}

#dialogSign{
	background-color: #e6e6e6;
	width: 250px;
	height: auto;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border: solid 1px #b6b6b6;
	padding: 10px 10px 10px 10px;
	border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
}

#loginTit{
	color: #333333;
}

#loginTit #tit{
	width: 90%;
	float: left;
	text-align: center;
}
#loginTit #cierre{
	float: right;
}
#dialog #loginCont{
	float: left;
	background-color: #E6E6E6;
}
#entar{
	padding: 5px 5px 5px 5px;
}

#entar:hover{
	color: #F6F6F6;
	background-color: #E6E6E6;
}
#quest_1, #quest_2{
	font-size: 0.8em;
}
#quest_1:hover {
	text-decoration: underline;
	cursor: pointer;
}
#quest_2:hover {
	text-decoration: underline;
	cursor: pointer;
}
#loginCierre #quest_1{
	width: 48%;
	float: left;
}
#loginCierre #quest_2{
	width: 48%;
	float: right;
	text-align: right;
}

.blindAction:hover{
	cursor: pointer;
}

.expectedPerformanceDiv{
	float:right;
	width:40%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	letter-spacing: 0px;
	font-size: 13px;
	color: #333333;
}

.fontFondo{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 120%;
}

.borderCell{
	border:0 !important;
	text-align: center !important;
	border-style: hidden !important;
}

span.AX{
	background:url(../img/portfolioManagementsprite.png) transparent -351px -71px no-repeat;
	margin-left:10%;
	margin-right:10%;
	padding-left: 9%;
	padding-right: 7%;
	font-weight:bold;
	padding-top: 6px;
}
span.BX{
	background:url(../img/portfolioManagementsprite.png) transparent -231px -71px no-repeat;
	margin-left:10%;
	margin-right:10%;
	padding-left: 9%;
	padding-right: 7%;
	font-weight:bold;
	padding-top: 6px;
}
span.CX{
	background:url(../img/portfolioManagementsprite.png) transparent -404px -71px no-repeat;
	margin-left:10%;
	margin-right:10%;
	padding-left: 9%;
	padding-right: 7%;
	font-weight:bold;
	padding-top: 6px;
}

span.formText{
	display:block;
	font-weight:bold;
	width:18px
	
}

.kuboScoreText{
	 margin-left: 30%;
	 margin-right: 20%;
}

.kuboScoreNumber{
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	color: color:rgb(0,0,0) !important;
}

#providing_invertion{
width:90%;
text-align:center;
}

.ui-widget .ui-icon-xls {
    background-image: url(../img/star2.png);
    background-size: contain;
    border: none;
    width: 21px !important;
    height: 20px;
    margin: 00 0 0-5px;
    left: 0;
    top: 0;
}

.cpTable{
	width: 88%;
}

span.marginSpan{
	margin-left: 24%;
}
.styled-select select {
	   background: transparent;
	   width: 290px;
	   padding: 0px;
	   margin-top: 0px;
	   padding-top: 0px;
	   border: 0px;
	   height: 28px;
	   -webkit-appearance: none;
	   margin-bottom: 10px !important;
	   vertical-align: top !important;
	   position: absolute;
	   top: 0px;
	}
	
.styled-select {
	   width: 265px;
	   height: 14px;
	   overflow: hidden;
	   background: url(../img/selImg.png) no-repeat right #ffffff;
	   margin-top: 8px;
	   padding-top: 0px !important;
	   border: 1px solid #fff200;
	   padding-bottom: 12px !important;
	   vertical-align: top !important;
	   position: relative;
	   
	   margin-bottom: 6px;
	margin-top: 6px;
	   
	
	   
	}

.styled-select-Month select {
	   background: transparent;
	   width: 170px;
	   padding: 0px;
	   margin-top: 0px;
	   padding-top: 0px;
	   border: 0px;
	   height: 28px;
	    -webkit-appearance: none;
	    margin-bottom: 10px !important;
	    vertical-align: top !important;
	     position: absolute;
	   top: 0px;
	    
	   /* border: solid 1px #000000; */
	}
	
.styled-select-Month {
	   width: 111px;
	   height: 14px;
	   overflow: hidden;
	   background: url(../img/selImg.png) no-repeat right #ffffff;
	   margin-top: 0px;
	   padding-top: 0px !important;
	   border: 1px solid #fff200;
	   padding-bottom: 12px !important;
	   vertical-align: top !important;
	   position: relative;
	   
	   margin-bottom: 6px;
	margin-top: 6px;
	   
	
	   
	}
.styled-select-Day select {
	   background: transparent;
	   width: 170px;
	   padding: 0px;
	   margin-top: 0px;
	   padding-top: 0px;
	   border: 0px;
	   height: 28px;
	    -webkit-appearance: none;
	    margin-bottom: 10px !important;
	    vertical-align: top !important;
	     position: absolute;
	   top: 0px;
	    
	}
	
.styled-select-Day {
	   width: 63px;
	   height: 14px;
	   overflow: hidden;
	   background: url(../img/selImg.png) no-repeat right #ffffff;
	   margin-top: 0px;
	   padding-top: 0px !important;
	   border: 1px solid #9f9f9f;
	   padding-bottom: 12px !important;
	   vertical-align: top !important;
	   position: relative;
	   
	   margin-bottom: 6px;
	margin-top: 6px;
	   

	   
	}
.styled-select-Year select {
	   background: transparent;
	   width: 110px;
	   padding: 0px;
	   margin-top: 0px;
	   padding-top: 0px;
	   border: 0px;
	   height: 28px;
	    -webkit-appearance: none;
	    margin-bottom: 10px !important;
	    vertical-align: top !important;
	     position: absolute;
	   top: 0px;
	    
	}
	
.styled-select-Year {
	   width: 80px;
	   height: 14px;
	   overflow: hidden;
	   background: url(../img/selImg.png) no-repeat right #ffffff;
	   margin-top: 0px;
	   padding-top: 0px !important;
	   border: 1px solid #9f9f9f;
	   padding-bottom: 12px !important;
	   vertical-align: top !important;
	   position: relative;
	   
	   margin-bottom: 6px;
	
	   margin-top: 0;

	   
	}
.styled-select-Address select {
	   background: transparent;
	   width: 366px !important;
	   padding: 0px;
	   margin-top: 0px;
	   padding-top: 0px;
	   border: 0px;
	   height: 31px;
	    -webkit-appearance: none;
	    margin-bottom: 10px !important;
	    vertical-align: top !important;
	     position: absolute;
	   top: 0px;
	    border: solid 1px #000000;
	    
	    -webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
	}
	
.styled-select-Address {
	   width: 358px;
	   height: 28px;
	   overflow: hidden;
	   background: url(../img/selImg.png) no-repeat right #ffffff;
	   margin-top: 0px;
	   padding-top: 3px !important;
	   border: 1px solid #fff200;
	   padding-bottom: 12px !important;
	   vertical-align: top !important;
	   position: relative;
	   
	margin-bottom: 6px;
	margin-top: 6px;
	   

	   
	   
	}
	
	
	.contPR{
	
		min-height: 460px !important;
	
	}
	
	.cornerFill{	
			border-left: 70px solid transparent;
			border-top: 70px solid #439539;
			
			height: 0;
			width: 0;
			right: 0px;
			
		}
		.msgBorder{
			border: solid 2px #548f39;
		}
		
		.msgBack{
			color: #439539;
			width: auto; 
			height: auto; 
			overflow: auto; 
			padding: 50px 50px 50px 50px; 
			line-height: 25px;  
			margin-top: 0px; 
			margin-bottom:0px; 
			margin-left: auto; 
			margin-right: auto; 
			font-size: 1.5em; 
			font-weight: bold; 
			border: solid 0px #EFEFEF; 
			background-color: #ffffff;
		}
		.msgResaltar{
			font-size: 1.5em; 
			color: #C1D82F;
		}
		
		
/*estilo general*/		
.encabezado_3 {
	font-size: 21px;
	font-weight:normal;
	margin:0 0 20px;
	border-bottom: 1px solid #ccc;
	padding: 0 0 5px 0;
	font-weight: 600;
	letter-spacing: -1px;
}
.btn_verde{
	color: #fff !important;
	text-transform:uppercase;
	font-size:15px;
	padding: 7px 0;
	margin:0 0 10px;
	text-decoration:none;
	text-align:center;
	font-weight:400;
	background: #548f39;
	text-decoration:none !important;
	cursor: pointer;
}	
.btn_naranja {
	color:#fff;
	text-transform:uppercase;
	font-size:15px;
	padding: 7px 0;
	margin:0 0 10px;
	text-decoration:none;
	text-align:center;
	font-weight:400;
	background: #ff8a02;
	text-decoration:none !important;
	cursor: pointer;
	
	display: block;
}

.btn_gris {
	color:#fff;
	text-transform:uppercase;
	font-size:15px;
	padding: 7px 0;
	margin:0 0 10px;
	text-decoration:none;
	text-align:center;
	font-weight:400;
	background: #ccc;
	text-decoration:none !important;
	cursor: pointer;
	
	display: block;
}


.logPR  {
	font-size:16px;
	color:#262322;
	background-color: #FFFFFF !important; 
	background-image: none !important;
	border:none !important;
}	
.valor_predefinido {
	font-size:16px;
	color:#262322;
	font-weight:bold;
}



.estilo_input {
border: solid 1px #9f9f9f !important;
	-webkit-appearance:none;
	color: #999 !important;
	
font-size: 13px !important;
	
padding: 5px 2%;
	font-family: 'Open Sans', sans-serif;
	border-radius:3;
	-webkit-appearance:none;

	margin: 0;
	font-weight:300;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
}	

.etiqueta {
	display:block;
	margin: 0 0 7px;
	clear: both;
}
.frmPrerg .etiqueta small {
	color:red;
	font-size: 15px;
	margin: 0 0 0 3px;
}
.logPR input[type="text"], .logPR input[type="password"]  {
	padding: 5px 2%;
	width: 95% !important;
	margin: 0 0 8px;
}

.caja_bordeverde {
	border:solid 2px #548f39;
}


.change_pass {
	width:280px;
	margin: 0 auto 30px;
	display:block;
	padding:20px 20px;
	font-size:16px;
	overflow: hidden;
}

.change_pass .btn_verde{
	float:right;
	clear:both;
	display:block;
	padding-left:20px;
	padding-right:20px;
	
}

.change_pass  .estilo_input {
	margin:0 0 10px;
}


.mensaje_error_superior {

	text-align:left;
	color:#ff0000 !important;
	font-size:14px;
	margin:0 0 10px;
	line-height: 19px;
}

.contrasena_expirada {
	padding:20px 10px;
	overflow:hidden;
}
.contrasena_expirada p{
	display:block;
	width:100%;
	margin: 0 0 9px;
}
.contrasena_expirada .btn_verde {
	width:100%;
	clear:both;
	
	display: block;
}
.boletin {
	margin:20px 0;
	
}

.explicacion {
	border:solid 1px #9f9f9f;
		padding: 14px 3%;
	margin: 20px 0 0 0;
	font-size: 15px;
}

.explicacion h3  {
	color:#439539;
	font-size:16px;
}
 @media (min-width: 1024px) {
.explicacion {
	/* width: 451px !important; */
}
 }

#msgprocessing .contPR{
	
}

#msgprocessing .contPR {
	position: relative;
	margin-right: 0px;
	min-height: 0 !important;
	background-color: #fff;	
	font-size:16px;
	margin:0 !important;
	padding:0 !important;
	
}

#msgprocessing  .contFrm {
	padding-right: 0px;width: auto;
	border:solid 1px #548f39;
	
	margin:0 !important;
}
#msgprocessing .contPR img{
	display:block;
	margin:0 auto;
	clear:both;
}

#msgprocessing .contPR label{
	color:#666;
	display:block;
	margin:0 0 10px;
	padding:0;

}

.lightbox_cargando {
	border:solid 1px #548f39;
	padding:20px 20px;
	width:270px;
	display:block;
	font-size:16px;
	position: absolute;
	z-index: 99999999999999999999;
	background:#fff;
	
}

.lightbox_cargando p{
	margin: 0 0 10px;
	
}


.lightbox_cargando .loader{
	margin:0 auto;
	display: block;
}





/* hoja de estilos para formulario de preregistro*

/* hoja de estilos para formulario de registro*

/*fuente open sans */

/*encabezados */


/*color verde institucional*/

/*estilo para las input type text, type password, text area */
			/*----------version telefono---------*/
		    /*----------version mobile-----------*/
	

/*estilo para selects */
			/*----------version telefono---------*/
		    /*----------version mobile-----------*/

/*estilo botones en general*/
			/*----------version telefono---------*/
		    /*----------version mobile-----------*/

/*estilo para botones verdes*/
			

/*estilo para botones naranja*/
/*estilo estilo para botones gris*/


/*texto general*/


/*texto version responsiva*/

input[type="text"], input[type="number"]  {
	border:#ccc 1px solid;
	-webkit-appearance:none;

	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
  -moz-appearance: textfield;
}



#usr {
	font-size:16px !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}