/*
 * ----------------------------------------------
  	FdC:         [11.Junio.2014]
  	Folder:      css/templates/header/header.css
  	Programador: Damián Tapia Nava
 * -----------------------------------------------
 */

@CHARSET "UTF-8";

/*
 * ---------------------------
   BORDES PANELES LAYOUT UNITY
 * ---------------------------
 */
 
.ui-layout-unit, .ui-layout-unit-content.ui-widget-content
{	
	
	padding:0;
	border:0;
}

 .ui-layout-unit-content.ui-widget-content {
 
 }

.ui-layout-unit-header-icon.ui-state-default.ui-corner-all
{
	width:16px;
	height:16px;
	border:1px solid #a8a8a8;
}

.ui-icon
{
	margin:0;
}

.ui-panel
{
	margin:5px 2px !important;
	border: 0 !important;
}

/*
 * --------
    HEADER
 * --------
 */

div.main_header
{
	width: auto; 
	margin:0 auto;
	
	border:0px solid black;
}

div.main_icono_logo
{
	margin: 0 auto;
	background-color: transparent;
	overflow: auto;
	
	border: 0px solid black;
}	

div.left_logo_kubo
{
	width:105px;
	margin: 0 auto;	
	text-align:center;
	
	border: 0px solid black;
	
}

div.left_logo_kubo img
{
	width:100px;
	height:100px;	
}

div.right_logo_partner
{
	margin-left: 10px;
	position: absolute;
	top: 0px;
	left: 173px;
}
