@CHARSET "UTF-8";

	.riskA {
		background-color: #8CDB81; 
		border: 1px solid #8CDB81;
	}
	.riskB{
		background-color: #CCDD93; 
		border: 1px solid #CCDD93;
	}
	.riskC{
		background: #7AC6A8; 
		border: 1px solid #7AC6A8;
	}
	.riskD{
		background-color:#68E2ED; 
		border: 1px solid #68E2ED;
	}
	.riskE{
		background: #38A5DC;
		border: 1px solid #38A5DC;
	}
	
	.orange {
	color: #439539;
	font-size: 1.15em;
}
	
	div.imprimir_panel_container
	{
		width: 65px; 
	    height: 59px; 
	    clear: both;
	    margin-left: auto; 
	    margin-right: auto;
	    cursor: pointer;
	    border: 0px solid black;
	}